// Basic breakpoints
$bp355: 'screen and (min-width : 355px)';
$bp580: 'screen and (min-width : 580px)';
$bp768: 'screen and (min-width : 768px)';
$bp960: 'screen and (min-width : 960px)';
$bp1024: 'screen and (min-width : 1024px)';
$bp1280: 'screen and (min-width : 1280px)';
$bp1400: 'screen and (min-width : 1400px)';
$bp1700: 'screen and (min-width : 1700px)';

$bp579max: 'screen and (max-width : 579px)';
$bp767max: 'screen and (max-width : 767px)';
$bp959max: 'screen and (max-width : 959px)';
$bp1279max: 'screen and (max-width : 1279px)';
