// Color naming tool
// http://chir.ag/projects/name-that-color

$color-white: #fff;
$color-black: #000;

// Greyscale
$color-gallery: #EBEBEB;
$color-silver: #CCCCCC;
$color-nobel: #B7B7B7;
$color-storm-gray: #787A83;
$color-tuna: #3A3A44;
$color-mine-shaft: #222222;
$color-ebony-clay: #1E2530;
$color-shark: #1E2228;

// Rainbow
$color-bali-hai: #93A6B9;
$color-fountain-blue: #65A3BD;
$color-chambray: #3B5998;
$color-fern: #65BD6A;
$color-chestnut-rose: #CC5447;
$color-rodeo-dust: #C7B299;
$color-golden-grass: #CCA81A;
$color-wisteria: #A365BD;

// Header and Menu colors
$color-main-header: $color-tuna;
