// Color naming tool
// http://chir.ag/projects/name-that-color

$color-white: #fff;
$color-black: #000;

// Greyscale
$color-mine-shaft: #333333;
$color-tuna: #3A3A44;
$color-dusty-gray: #999999;
$color-silver: #CCCCCC;
$color-concrete:#F2F2F2;

// Rainbow
$color-botticelli: #D6E7EB;
$color-caper: #E5EDBA;
$color-calypso: #276681;
$color-bondi-blue: #008DAF;
$color-bali-hai: #7FA2AD;
$color-key-lime-pie: #b0bc22;
$color-fern: #65BF68;
$color-buttercup: #F5A623;
$color-monza: #D0021B;

// Header and Menu colors
$color-main-header: $color-tuna;