//Blog Post List Styles

.paragraph--type--blog-post-list {
  @include clearfix;

  .field__label {
    display: none;
  }

  .item-list ul {
    @include no-bullet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      border-top: 5px solid $color-caper;
      padding: 20px 0 40px 0;
      margin: 0;

      .views-field-field-image img {
        display: block;
        width: 100%;
        margin: 0 auto 20px auto;
      }

      .views-field-title {
        margin-bottom: 5px;

        a {
          font-family: $font-montserrat;
          color: $color-mine-shaft;
          font-size: 2.0rem;
          font-weight: 500;
          line-height: 1.5;

          &:hover {
            color: rgba($color-bondi-blue, .6);
          }
        }
      }

      .views-field-field-blog-category {
        float: left;
      }

      .views-field-field-ct-date-1 {
        float: right;
      }

      .views-field-field-blog-category, .views-field-field-ct-date-1 {
        @include subtitle;
      }

      .views-field-body {
        clear: both;
        line-height: 1.63;
        padding-top: 20px;
      }

      .views-field-view-node a {
        font-family: $font-lato;
        font-size: 1.6rem;
        font-weight: normal;
        line-height: 1.63;
        color: $color-bondi-blue;
        @include icoMoon('arrow-right', 'after');

        &:hover {
          color: rgba($color-bondi-blue, .6);
        }
      }
    }
  }

  .field--name-field-blog-latest {
    .views-field-title {
      font-family: $font-montserrat;
      color: $color-mine-shaft;
      font-size: 2.0rem;
      font-weight: 500;
      line-height: 1.5;
    }

    .views-field-body {
      font-size: 1.8rem;
      line-height: 1.8;
    }

  }

  .field--name-field-blog-archives li {
    @include mq($bp1024) {
      width: 49%;
    }
  }

  nav.pager ul {
    @include inline-list-items;
    display: flex;
    justify-content: center;

    li {
      width: auto;
      margin-right: 30px;
      a {
        font-weight: normal;
      }
    }

    li.is-active a {
      color: $color-mine-shaft;
    }

    .pager__item {
      &--first,
      &--previous,
      &--next,
      &--last {
        display: none;
      }
    }
  }
}

.blog-post-content-wrapper {
  @include clearfix;
  display: block;

  h1 {
    color: $color-calypso;
  }

  .field--name-field-media-image {
    margin-bottom: 20px;
  }

  .field--name-field-blog-category, .field--name-field-ct-date {
    @include subtitle;
    font-size: 1.4rem;
    margin-bottom: 5px;
  }

  .field--name-field-blog-category {
    float: left;
  }

  .field--name-field-ct-date {
    float: right;
  }

  .field--name-field-title {
    clear: both;
  }

  .field--name-body {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}
