.layout-checkout-form {
  margin: 30px auto !important;

  .layout-region-checkout-footer {
    padding-top: 30px;

    @include mq($bp1280) {
      padding-top: 0;
    }
  }

  .address-container-inline > .form-item {
    margin-right: 0;

    @include mq($bp1280) {

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  .address-container-inline {
    flex-direction: column;

    @include mq($bp1280) {
      flex-direction: row;
    }
  }

  .form-submit {
    width: 100%;

    @include mq($bp1280) {
      width: auto;
    }
  }

  .fieldset-legend,
  .layout-region h3 {
    font-size: 2rem;
    font-family: $font-proxima-nova-bold;
    color: $color-shark;
    text-transform: uppercase;
  }

  label {
    font-size: 1.6rem;
  }

  legend {
    margin-bottom: 18px;
  }

  .order-total-line {
    @include mq($bp1280) {
      padding-top: 10px;
      text-align: left;
    }
  }
}
