.cart-form {
  @include mq($bp1024) {
    max-width: 760px;
    margin-right: auto;
    margin-left: auto;
  }

  .views-element-container {
    padding: 30px 0;
  }

  form {
    padding: 20px;

    background: $color-gallery;
  }

  table {
    width: 100%;
  }

  thead {
    @include mq($bp1023max) {
      display: none;
    }
  }

  tbody tr {
    @include mq($bp1023max) {
      display: flex;
      flex-direction: column;
    }

    td {
      padding-top: 10px;
    }
  }

  th {
    text-align: left;
  }

  .form-number {
    max-width: 50px;

    text-align: center;
  }

  .form-select {
    width: 100%;
    max-width: 50px;
    height: 43px;
    padding: 1rem 1.6rem;

    color: $color-mine-shaft;
    border: 1px solid $color-nobel;
    border-radius: 0 !important;
    background-color: $color-white;

    font-size: 1.4rem;
    line-height: 1.5;
  }

  .delete-order-item {
    padding: 0;

    text-align: center;

    color: $color-fern;
    border: 0;
    border-radius: 0;
    background: none;

    font-size: 1.5rem;

    &:hover {
      text-decoration: underline;

      background: none;
    }
  }

  .views-field-total-price__number {
    @include mq($bp1024) {
      text-align: right;
    }
  }

  .form-actions {
    padding-top: 30px;

    text-align: center;

    input {
      @include mq($bp1023max) {
        display: block;

        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

.form-wrapper__login-option {
  @include mq($bp1023max) {
    padding: 0;
  }
}

#drupal-modal {
  .field--name-body {
    text-align: center;

    font-weight: bold;
  }

  .field--name-price {
    .field__item {
      font-weight: bold;
    }
  }

  .commerce-order-item-add-to-cart-form {
    .form-item-quantity-0-value {
      input {
        width: 60px;
      }
    }

    .field--name-purchased-entity,
    .field--name-field-t-shirt-size,
    .field--name-body,
    .field--name-price {
      padding: 5px 0 5px 0;
    }
  }
}
