.ui-dialog article {
  & > * {
    padding-bottom: 20px;
  }

  .field__label,
  label {
    font-size: 1.6rem;
    color: $color-storm-gray;
    font-family: $font-proxima-nova-bold;
    padding-bottom: 5px;
    margin: 0;
  }
}
