// Events page styles

.event-content-wrapper {
  @include clearfix;

  div {
    width: 100%;
  }

  h1 {
    color: $color-calypso;
  }

  .field--name-field-media-image {
    margin-bottom: 20px;
  }

  .field--name-field-event-description-future,
  .field--name-field-event-description-past {
    line-height: 1.63;
  }
}
