// DCKyiv Website footer styles

footer.main-footer {
  margin-top: auto;
  padding: 10px 0;

  background: $color-tuna;

  @include mq($bp1024) {
    padding: 50px 0;
  }

  .region-footer-top {
    margin: 0 7%;
    padding: 40px 0 20px 0;

    border-bottom: 1px solid rgba($color-white, .4);

    @include mq($bp1024) {
      max-width: 1240px;
      margin: 0 auto;
    }
    @include clearfix;

    #block-site-branding {
      float: left;

      width: 104px;
      height: 40px;
    }

    #block-footertopcontact {
      float: right;

      width: 148px;
      height: 40px;

      border-radius: 20px;
      background-color: $color-fern;
      ul.menu {
        @include inline-list-items(none);
        li a {
          display: block;

          padding: 12px 35px;

          text-align: center;
          text-transform: uppercase;

          color: rgba($color-black, .8);

          font-size: 1.1rem;
          &:hover {
            color: rgba($color-shark, .6);
          }
        }
      }
    }
  }

  .region-footer {
    @include mq($bp1280) {
      nav {
        width: 20%;
        a {
          max-width: 220px;
        }
      }

      nav#block-footersolutions {
        width: 40%;
        .wrapper {
          float: left;

          width: 50%;
        }
      }
    }
    @include mq($bp768) {
      nav {
        width: 25%;
      }

      #block-footerproducts,
      #block-footerclientportal,
      #block-footeraboutdckyiv,
      #block-footerconnect {
        float: left;
      }

      #block-footersolutions,
      #block-footerinsights {
        clear: none;
      }
    }
    @include mq($bp1024) {
      max-width: 1240px;
      margin: 0 auto;
    }
    @include clearfix;

    ul.menu {
      @include no-bullet;
    }

    li {
      a {
        display: block;

        max-width: 158px;
        padding: 2px 0;

        color: $color-white;

        font-size: 1.4rem;
        font-weight: normal;
        &:hover {
          color: $color-silver;
        }
      }
    }

    nav {
      > ul > li {
        > a {
          margin-bottom: 10px;

          text-transform: uppercase;

          color: $color-bali-hai;

          font-size: 1.1rem;
        }
        > ul > li > a {
          font-weight: bold;
        }
        > ul > li > ul li:last-child a {
          margin-bottom: 20px;
        }
      }
    }

    #block-footersolutions {
      .wrapper > li > a {
        font-weight: bold;
      }
      .submenu-level-2 li:last-child a {
        margin-bottom: 20px;
      }
    }

    #block-footerclientportal,
    #block-footeraboutdckyiv,
    #block-footerconnect {
      > ul > li > ul > li:last-child {
        margin-bottom: 20px;
      }

      li a {
        font-weight: normal;
      }
    }

    #block-footersolutions,
    #block-footerinsights {
      float: left;
      clear: both;
    }

    #block-footerproducts,
    #block-footerclientportal,
    #block-footeraboutdckyiv,
    #block-footerconnect {
      float: right;
    }

    nav {
      width: 50%;
    }

    #block-footerconnect {
      > ul > li > ul > li > a:first-child {
        @include icoMoon('linkedin');
        &:before {
          margin-right: 11px;

          color: $color-white;

          font-size: 2.4rem;
        }
      }
    }

    #block-sitebranding-footer {
      text-align: center;

      @include mq($bp1024) {
        text-align: left;
      }

      a {
        display: inline-block;

        padding: 13px 0;

        text-align: center;

        font-family: $font-proxima-nova-bold;
        font-size: 1.6rem;

        @include mq($bp1024) {
          height: auto;
          padding: 0;

          font-size: 1.6rem;
        }

        span {
          color: $color-white;
        }

        span:last-child {
          display: inline-block;

          color: $color-fern;
        }
      }

      .logo {
        &_desktop {
          display: inline-block;
        }

        &_mobile {
          display: none;
        }
      }
    }
  }
}

footer.bottom-footer {
  .region-footer-bottom {
    margin-top: 20px;

    text-align: center;

    @include mq($bp1400) {
      max-width: 1240px;
      margin: 20px auto;
    }
    @include mq($bp960) {
      margin: 20px 7%;
    }
    @include clearfix;

    #block-copyrightblock {
      margin-bottom: 20px;

      font-size: 1.4rem;

      @include mq($bp960) {
        float: left;
      }
    }

    #block-footerbottom {
      @include mq($bp960) {
        float: right;
      }
      ul.menu {
        display: inline-block;

        @include inline-list-items(left);
        li a {
          padding: 0 7px;

          border-right: 1px solid rgba($color-bali-hai, .5);

          font-size: 1.4rem;
          font-weight: normal;
        }
        li:last-child a {
          border-right: 1px solid $color-white;
        }
      }
    }
  }
}
