// DCKyiv Website footer styles

footer.main-footer {
  clear: both;
  background-color: $color-tuna;
  display: flex;
  flex-direction: column;

  .region-footer-top {
    @include clearfix;
    border-bottom: 1px solid rgba($color-white, .4);
    padding: 40px 0 20px 0;
    margin: 0 7%;

    #block-site-branding {
      float: left;
      width: 104px;
      height: 40px;
    }

    #block-footertopcontact {
      background-color: $color-fern;
      float: right;
      width: 148px;
      height: 40px;
      border-radius: 20px;
      ul.menu {
        @include inline-list-items(none);
        li a {
          display: block;
          padding: 12px 35px;
          text-transform: uppercase;
          color: rgba($color-black, .8);
          font-size: 1.1rem;
          &:hover {
            color: rgba($color-shark, 0.6);
          }
          text-align: center;
        }
      }
    }

    @include mq($bp1400) {
      margin: 0 auto;
      max-width: 1240px;
    }
  }

  .region-footer {
    @include clearfix;
    margin: 10px 10px;

    @include mq($bp1400) {
      margin: 50px auto;
      max-width: 1240px;
    }

    ul.menu {
      @include no-bullet;
    }

    li {
      a {
        display: block;
        padding: 2px 0;
        max-width: 158px;
        color: $color-white;
        font-weight: normal;
        font-size: 1.4rem;
        &:hover {
          color: $color-silver;
        }
      }
    }

    nav {
      > ul > li {
        > a {
          color: $color-bali-hai;
          margin-bottom: 10px;
          font-size: 1.1rem;
          text-transform: uppercase;
        }
        > ul > li > a {
          font-weight: bold;
        }
        > ul > li > ul li:last-child a {
          margin-bottom: 20px;
        }
      }
    }

    #block-footersolutions {
      .wrapper > li > a  {
        font-weight: bold;
      }
      .submenu-level-2 li:last-child a {
        margin-bottom: 20px;
      }
    }

    #block-footerclientportal,
    #block-footeraboutdckyiv,
    #block-footerconnect {
      > ul > li > ul > li:last-child {
        margin-bottom: 20px;
      }

      li a {
        font-weight: normal;
      }

    }

    #block-footersolutions,
    #block-footerinsights {
      float: left;
      clear: both;
    }

    #block-footerproducts,
    #block-footerclientportal,
    #block-footeraboutdckyiv,
    #block-footerconnect {
      float:right;
    }

    nav {
      width: 50%;
    }

    #block-footerconnect {
      > ul > li > ul > li > a:first-child {
        @include icoMoon('linkedin');
        &:before {
          color: $color-white;
          font-size: 2.4rem;
          margin-right: 11px;
        }
      }
    }

    @include mq($bp768) {
      nav {
        width: 25%;
      }

      #block-footerproducts,
      #block-footerclientportal,
      #block-footeraboutdckyiv,
      #block-footerconnect {
        float: left;
      }

      #block-footersolutions,
      #block-footerinsights {
        clear: none;
      }
    }

    #block-sitebranding-footer {
      a {
        display: inline-block;
        padding: 13px 0;
        font-size: 1.2rem;
        font-family: $font-proxima-nova-bold;
        color: $color-white;
        @include mq($bp1024) {
          font-size: 1.6rem;
          padding: 0;
          height: auto;
        }
        span {
          color: $color-fern;
        }
      }
    }

    @include mq($bp1280) {
      nav {
        width: 20%;
        a {
          max-width: 220px;
        }
      }

      nav#block-footersolutions {
        width: 40%;
        .wrapper {
          float: left;
          width: 50%;
        }
      }
    }
  }
}

footer.bottom-footer {

  .region-footer-bottom {
    @include clearfix;
    margin-top: 20px;
    text-align: center;

    #block-copyrightblock {
      font-size: 1.4rem;
      margin-bottom: 20px;
      @include mq($bp960) {
        float: left;
      }
    }

    #block-footerbottom {
      ul.menu {
        @include inline-list-items(left);
        display: inline-block;
        li a {
          font-size: 1.4rem;
          padding: 0 7px;
          border-right: 1px solid rgba($color-bali-hai, .5);
          font-weight: normal;
        }
        li:last-child a {
          border-right: 1px solid $color-white;
        }
      }
      @include mq($bp960) {
        float: right;
      }
    }

    @include mq($bp960) {
      margin: 20px 7%;
    }

    @include mq($bp1400) {
      margin: 20px auto;
      max-width: 1240px;
    }
  }

}
