// Style for dropdown element.

#block-dckyiv-primary-local-tasks {
  @include mq($bp1023max) {
    width: 100%;
    z-index: 3;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    margin: 20px 0 30px;
    transition: opacity .25s ease-in-out;

    & > ul {
      height: 45px;
      padding: 0 10px;
      text-align: left;
      border: 1px solid $color-silver;
      background: $color-white;
      display: block;
      position: relative;

      & > li {
        display: block;
        position: relative;
        &:first-child {
          &:first-child:before {
            position: absolute;
            content: ' - User menu -';
            position: relative;
            font-size: 1.6rem;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
          }

          @include icoMoon('arrow-down', 'after');
          &:after {
            top: 15px;
            right: 0;
            font-size: 1.2rem;
            position: absolute;
          }
        }
      }
    }
    & a {
      display: none;
      font-size: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;

      &.is-active {
        background: rgba($color-fern, 0.1);
      }
    }

    /* styles for the dropdown open */
    &.nav-is-visible ul {
      height: initial;
      background: $color-white;
      & li {
        & a {
          padding: 10px 0 10px 10px;
          display: block;
        }
        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
