// Style for dropdown element.

#block-dckyiv-primary-local-tasks {
  margin: 30px 0;

  @include mq($bp1023max) {
    z-index: 3;

    display: inline-block;

    width: 100%;
    height: 45px;
    margin: 20px 0 30px;

    cursor: pointer;
    transition: opacity .25s ease-in-out;
    vertical-align: middle;

    line-height: 45px;

    & > ul {
      position: relative;

      display: block;

      height: 45px;
      padding: 0 10px;

      text-align: left;

      border: 1px solid $color-silver;
      background: $color-white;

      & > li {
        position: relative;

        display: block;
        &:first-child {
          @include icoMoon('arrow-down', 'after');
          &:first-child:before {
            position: relative;

            content: ' - User menu -';
            text-transform: uppercase;

            font-size: 1.6rem;
            font-weight: 600;
          }
          &:after {
            position: absolute;
            top: 15px;
            right: 0;

            font-size: 1.2rem;
          }
        }
      }
    }
    & a {
      display: none;

      text-decoration: none;
      text-transform: uppercase;

      font-size: 1.5rem;

      &.is-active {
        background: rgba($color-fern, .1);
      }
    }

    /* styles for the dropdown open */
    &.nav-is-visible ul {
      height: initial;

      background: $color-white;
      & li {
        & a {
          display: block;

          padding: 10px 0 10px 10px;
        }
        &:last-child {
          margin-bottom: 10px;
        }
      }

      & > li {
        &:first-child {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
