//Market valuation report styles

.view-market-valuation-reports > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;

  .views-row {
    padding: 15px 25px;

    &:nth-child(odd) {
      background: rgba($color-black, 0.05);
    }

    &:nth-child(even) {
      background: rgba($color-black, 0.03);
    }
  }
}

.interest-rate-model-selector {
  padding: 10px;

  select {
    width: 200px;
    height: 30px;
    border-radius: 6px;
    font-family: $font-lato;
    font-size: 1.4rem;
  }
}

.render-report-container {

  main {
    margin: 0;
    padding: 0;
  }

  div#block-pagetitle {
    display: none;
  }

  #block-dckyiv-content {
    text-align: center;

    b {
      font-weight: normal;
    }

    body {
      vertical-align: baseline;
      font-size: 1.4rem;
    }

    caption {
      color: #186321;
      padding: 6px 0;
      font-size: 1.4rem;
      font-weight: bold;
    }

    table {
      margin: 0 auto;
      border-collapse: collapse;
      border-color: $color-white;
      border: none;
      font-size: 13px;
    }

    th {
      border-collapse: collapse;
      border: 1px solid $color-white;
      font-size: 1.3rem;
      background-color: #eee;
      padding: 4px 4px;
      text-align: left;
    }

    th[colspan] {
      text-align: center;
    }

    tr td {
      padding: 2px 0;
      vertical-align: top;
      text-align: center;
      font-size: 1.2rem;
      font-weight: normal;
      white-space: nowrap;
    }

    center > p > table td, center > table td {
      border: none;
    }

    table table td {
      border: 1px solid #eee !important;
    }

    colgroup {
      border: 1px solid #000 !important;
    }
  }
}
