// DCKyiv Meganav

#block-meganav-main-menu {
  float: right;
  position: static;

  ul.menu-level-0 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > .menu-item {
      & > .link-container > a {
        position: relative;
        padding: 24px 14px 24px 14px;
        display: block;
        color: rgba($color-white, .6);
        line-height: 1.63;
        font-size: 1.6rem;
        font-weight: bold;
        background-color: transparent;
        transition: background-color .3s, color .3s;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: $color-fern;
          opacity: 0;
          transition: opacity .3s, height .3s;
        }

        &:hover {
          color: $color-white;
        }
      }
    }

    & > .menu-item.menu-item--has-children {
      & > .link-container > a {
        @include icoMoon('arrow-down', 'after');
        position: relative;
        padding: 24px 27px 24px 12px;
        display: block;
        color: rgba($color-white, .6);
        line-height: 1.63;
        font-size: 1.6rem;
        font-weight: bold;
        background-color: transparent;
        transition: background-color .3s, color .3s;

        &:after {
          font-size: .8rem;
          color: $color-storm-gray;
          position: absolute;
          right: 13px;
          top: 35px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: $color-fern;
          opacity: 0;
          transition: opacity .3s, height .3s;
        }
        &:hover {
          color: $color-white;
        }
      }
    }
  }

  .menu-dropdown-0 {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: $color-white;
    left: 0;
    top: 73px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s;

    ul.menu-level-1 {
      max-width: 1240px;
      margin: 0 auto;
      padding: 20px 0;
      display: flex;

      & > li {
        flex: 1 0 0;
        padding: 0 20px;
        border-right: 1px solid $color-silver;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border: none;
          padding-right: 0;
        }

        & > .link-container {
          text-align: center;

          & > a {
            font-size: 1.6rem;
            color: rgba($color-shark, .6);
            font-weight: bold;
            line-height: 2.29;

            &:hover {
              color: $color-shark;
            }
          }
        }
      }
    }

    .menu-level-2 {
      padding: 0;

      a {
        display: block;
        position: relative;
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: normal;
        padding: 1rem 1.5rem 1rem 0;

        //////////////////////////////
        // Temp styles to display lock
        // TODO: attach this to class when backend for this will be ready

        @include icoMoon('lock', 'after');
        &:after {
          position: absolute;
          right: 0;
          bottom: 1.5rem;
          font-size: 1.1rem;
          color: $color-storm-gray;
        }
        //////////////////////////////
      }
    }
    .bottom-caption {
      @include mq($bp1024) {
        display: block;
      }
    }

    .transparent-header & {
      background-color: rgba($color-white, .95);
    }
  }

  // Sign in required caption
  .bottom-caption {
    @include icoMoon('lock', 'before');
    display: none;
    text-align: center;
    color: $color-storm-gray;
    padding: 30px 0;
    text-transform: uppercase;
    font-size: 1.1rem;
    &:before {
      margin-right: 1rem;
    }
    &.mobile {
      display: none;
    }
  }

  // Meganav Visibility and animations
  ul.menu-level-0 > li.menu-item {
    &.open {
      & > .link-container > a {
        color: $color-shark;
        background-color: $color-white;
        transition-delay: 0s;
        &:before {
          opacity: 1;
          height: 5px;
        }

        .transparent-header & {
          background-color: rgba($color-white, .95);
        }
        &:hover {
          color: $color-shark;
        }
      }

      .menu-dropdown-0 {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }

    }
  }

  // Menu CTA brick
  li.has-content {
    .link-container {
      display: none;
    }
  }
}

// Paragraph type menu CTA
.paragraph--type--menu-cta {
  background-color: $color-fern;
  color: $color-white;
  min-width: 216px;
  padding: 20px;
  font-size: 1.4rem;
  line-height: 1.71;
  p {
    margin: 0;
    padding: 0;
  }
  a {
    line-height: 1.71;
    color: $color-fern;
    font-weight: normal;
  }
}
