// DCKyiv Mobile navigation

#mobile-navigation {
  position: fixed;
  z-index: 12;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  transition: left 0s ease .5s, background-color .5s ease-in-out;

  background-color: transparent;

  .bottom-caption {
    display: none;
    &.mobile {
      display: block;

      padding: 16px 0;

      text-align: center;
      text-transform: uppercase;

      color: $color-storm-gray;

      font-size: 1.1rem;

      @include icoMoon('lock', 'before');
      &:before {
        margin-right: 1rem;
      }
    }
  }

  .slide-wrapper {
    position: relative;

    overflow: hidden;
    overflow-y: scroll;

    width: 94%;
    height: 100%;
    margin-left: -94%;

    transition: all .5s ease-in-out;

    background-color: $color-silver;
    box-shadow: 10px 0 32px rgba($color-black, .4);

    .block-system-branding-block {
      text-align: center;

      background-color: $color-main-header;
      a {
        display: inline-block;

        height: 57px;
        padding: 13px 0;

        color: $color-white;

        font-family: $font-proxima-nova-bold;
        font-size: 2rem;

        @include mq($bp1024) {
          height: auto;
          padding: 0;
        }
        span {
          color: $color-fern;
        }
      }
    }

    span.mobilenavtoggle {
      position: absolute;
      top: 2px;
      left: 0;

      padding: 18px 18px 15px;

      cursor: pointer;

      color: $color-white;

      font-size: 1.8rem;

      @include icoMoon('x');
    }
  }
  // opaque layer near menu to close it
  div.mobilenavtoggle {
    position: absolute;
    top: 0;
    right: 0;

    width: 6%;
    height: 100%;
    margin: 0;
    padding: 0;

    cursor: pointer;
  }

  // Mobile nav open transition
  &.open {
    left: 0;

    transition: background-color .4s;

    background-color: rgba($color-black, .6);
    .slide-wrapper {
      margin-left: 0;
    }
  }

  #block-mainmenu {
    background-color: $color-white;
    .menu-level-0 > li {
      &:last-child > .link-container > a {
        border: none;
      }

      & > .link-container a {
        transition: color .3s;

        color: $color-shark;

        font-weight: 900;
        &:hover {
          color: rgba($color-shark, .6);
        }
      }
    }
  }

  // Mobile nav multilevel navigation
  .region-mobile-navigation {
    // Paint menu white if subnav is open
    transition: background-color .3s;
    &.open {
      height: 100%;

      background-color: $color-white;
    }

    // Hiding search toggle menu link
    .search-toggle {
      display: none;
    }

    nav {
      padding: 0 15px;
      ul {
        margin: 0;
        padding: 0;
        // Level 0 menu links
        li {
          // Menu CTA brick
          &.has-content {
            display: none;

            @include mq($bp1024) {
              display: block;
            }
          }
          a {
            display: block;

            padding: 15px 35px 15px 0;

            border-bottom: 1px solid rgba($color-black, .2);
          }
        }
        .menu-dropdown {
          // Level 1 menu links
          li a {
            color: $color-shark;

            font-weight: normal;
            &:hover {
              color: rgba($color-shark, .6);
            }
          }
          // Level 2+ menu links
          .menu-dropdown {
            li a {
              color: $color-fern;
              &:active,
              &:hover {
                color: rgba($color-fern, .6);
              }
            }
          }
        }

        .link-container {
          position: relative;
          a {
            transition: padding .3s;
          }
        }

        // Submenu open chevron
        .subnav-toggle {
          position: absolute;
          top: 0;
          right: 0;

          padding: 20px 15px 20px 20px;

          cursor: pointer;

          color: $color-fern;

          @include icoMoon('chevron-right');
          &:before {
            display: inline-block;

            transition: transform .3s;
          }
        }
      }
    }

    //////////////////////////////
    // Temp styles to display lock
    // TODO: attach this to class when backend for this will be ready
    .menu-level-2 a {
      @include icoMoon('lock', 'after');
      &:after {
        position: absolute;
        right: 0;
        bottom: 2rem;

        color: $color-storm-gray;

        font-size: 1.4rem;
      }
    }
    /////////////////////////////
  }

  //////////////////////////////////////////////
  // Mobile nav accordion styles and transitions
  //////////////////////////////////////////////
  .region-mobile-navigation {
    nav {
      overflow: hidden;

      max-height: none;

      transition: opacity .5s;

      opacity: 1;
    }

    // Initial menu setup
    ul.menu-level-0 {
      & > li {
        visibility: visible;

        max-height: none;

        opacity: 1;
      }
    }

    // Hiding all submenu items initially
    ul li {
      visibility: hidden;

      max-height: 0;

      transition: opacity .5s;

      opacity: 0;
    }

    &.open {
      nav {
        visibility: hidden;

        max-height: 0;
      }

      nav.open {
        visibility: visible;

        max-height: none;
      }
    }

    // Accordion transitions and settings
    nav.open {
      ul > li {
        visibility: hidden;

        max-height: 0;

        opacity: 0;
        &.expanded,
        &.parent {
          visibility: visible;

          max-height: none;

          opacity: 1;

          & > .menu_link_content {
            & > ul > li {
              visibility: visible;

              max-height: none;

              opacity: 1;
            }
          }
        }

        &.parent {
          & > .link-container {
            visibility: hidden;

            max-height: 0;
          }
        }

        &.expanded {
          ul.menu {
            padding: 0 0 0 35px;
          }

          & > .link-container {
            a {
              padding-left: 35px;

              font-weight: 900;
            }

            .subnav-toggle {
              right: auto;
              left: -15px;
              &:before {
                transform: scaleX(-1);
              }
            }
          }
          .menu-item {
            visibility: visible;

            max-height: none;

            opacity: 1;
          }
        }

        &.parent {
          & > .menu_link_content > ul > li {
            visibility: hidden;

            max-height: 0;

            opacity: 0;
          }

          & > .menu_link_content > ul > li.expanded {
            visibility: visible;

            max-height: none;

            opacity: 1;
          }
        }
      }
    }
  }

  .logo {
    &_desktop {
      display: none;

      @include mq($bp1024) {
        display: inline-block;
      }
    }
    &_mobile {
      display: inline-block;

      @include mq($bp1024) {
        display: none;
      }
    }
  }

  #block-sitebranding-mobile {
    span {
      color: $color-white;
      &:last-child {
        display: inline-block;

        color: $color-fern;
      }
    }
  }
}
