.my-presentations {
  @include container;
  padding-bottom: 40px !important;

  table {
    width: 100%;
  }

  thead,
  tbody {
    th,
    td {
      padding: 10px;
      text-align: left;
      border: 1px solid $color-gallery;
    }
  }
}

.js td .dropbutton-multiple {
  @include mq($bp767max) {
    padding-right: 0;
  }
}
