.my-tickets {
  .views-row {
    margin: 40px 0;
  }

  .views-field-field-attendee {
    margin-top: 20px;
    .field-content {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.attendee-info-radio {
  margin: 0 0 20px 0;

  .form-item-attende-info {
    margin: 0;
  }
}
