.my-presentations {
  padding-bottom: 40px !important;

  table {
    width: 100%;
  }

  thead,
  tbody {
    th,
    td {
      padding: 10px;

      text-align: left;

      border: 1px solid $color-gallery;
    }
  }

  .views-field-changed {
    display: none;

    @include mq($bp580) {
      display: table-cell;
    }
  }

  .dropbutton {
    position: relative;

    overflow: visible !important;
  }
}

.js td .dropbutton-multiple {
  @include mq($bp767max) {
    padding-right: 0;
  }
}

.js .dropbutton-multiple .dropbutton-widget,
.js td .dropbutton-widget {
  @include mq($bp767max) {
    position: relative;

    padding: 0;
  }
}
