.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  @include mq($bp768) {
    flex-direction: row;
  }

  .field {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__label {
      padding-right: 10px;

      &:after {
        content: ":";
      }
    }
  }

  &--logo {}
  &--person {}
  &--info {
    padding-top: 20px;

    @include mq($bp768) {
      border-left: 2px $color-black solid;
      margin-left: 20px;
      padding: 10px 0 10px 20px;
    }
  }
  &--type {
    padding-bottom: 20px;
    font-size: 26px;
  }
}