.node-presentation-form {
  $height: 43;
  fieldset {
    @include mq($bp1024) {
      padding: 20px 0;

      border-top: 2px solid $color-gallery;
    }

    legend {
      display: block;

      width: 100%;
      padding: 20px 0;

      border-top: 2px solid $color-gallery;

      @include mq($bp1024) {
        float: left;

        width: 20%;
        padding: 0;

        border: 0;
      }
    }

    .fieldset-wrapper {
      @include mq($bp1024) {
        float: left;

        width: 80%;
      }
    }
  }

  .fieldset-legend,
  .vertical-tabs__menu-item-title,
  summary {
    letter-spacing: .1rem;

    font-family: $font-proxima-nova-regular;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .js-form-type-vertical-tabs {
    padding: 20px 0 0;

    border-top: 2px solid $color-gallery;
  }

  label {
    font-family: $font-proxima-nova-bold;
  }

  summary {
    padding: 0 0 20px;
  }

  .vertical-tabs__menu-item,
  .vertical-tabs__menu,
  .vertical-tabs {
    border: 0;
  }

  .js-form-type-textarea {
    margin: 0;
  }

  .vertical-tabs__menu-item a {
    padding: 0;
  }

  .form-actions,
  .field--name-moderation-state {
    @include mq($bp1024) {
      text-align: right;
    }
  }

  .form-actions {
    padding-bottom: 30px;

    @include mq($bp1023max) {
      display: flex;
      flex-direction: row;

      text-align: right;

      justify-content: space-between;

      input {
        width: calc(50% - 5px);
      }
    }
  }
  select {
    width: 100%;
    height: $height + px;
    margin: 0 5px 5px 0;
    padding: 0 30px 0 10px;

    border-radius: 0;
    background: $color-white;

    font-size: 1.4rem;
    line-height: $height + px;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    @include mq($bp1024) {
      width: 0;
      min-width: 208px;
    }
  }

  .js-form-type-select {
    label {
      position: relative;

      @include icoMoon('arrow-down', 'after');
      &:after {
        position: absolute;
        top: 40px;
        right: 15px;

        color: $color-storm-gray;

        font-size: .8rem;

        .presentation-info & {
          left: 15px;
        }
      }
    }
  }

  .field--widget-options-select {
    @include mq($bp1024) {
      float: left;

      width: 50%;
    }
  }

  .field--widget-link-default {
    @include mq($bp1024) {
      float: left;

      width: calc(50% - 10px);

      &:nth-child(1n) {
        margin-right: 10px;
      }
    }
  }

  .presentation-info {
    label {
      &:after {
        @include mq($bp1024) {
          right: 0;
          left: 178px;
        }
      }
    }
  }
}
