// Paragraph: Presentations

.paragraph--type--presentations {
  & > .content {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 30px;

    @include mq($bp1200) {
      flex-direction: row;
      margin: 0 auto;
      justify-content: center;
    }
  }

  .views-row {
    width: 100%;
    background-color: $color-gallery;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    @include mq($bp580) {
      width: calc(50% - 15px);
      min-height: 450px;
    }

    @include mq($bp1200) {
      width: calc(33.33% - 15px);
    }

    .views-field {
      &-field-image {
        min-height: 338px;
        //background-image: url('../../images/icon-speaking-skills.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center 15px;

        @include mq($bp1024) {
          min-height: 309px;
        }

        @include mq($bp1200) {
          min-height: 268px;
        }

        img {
          user-select: none;
          height: auto;
          width: 100%;
          vertical-align: middle;
          object-fit: contain;
          max-width: 100%;
        }

        .views-element-container {
          user-select: none;
          height: auto;
          width: 100%;
          vertical-align: middle;
          object-fit: contain;
          max-width: 100%;
        }
      }
      &-field-second-name {
        .field-content {
          padding: 12px 0 12px 25px;
          background: $color-tuna;
          font-size: 2rem;
          text-align: left;
          color: $color-white;

          @include mq($bp1024) {
            font-size: 1.6rem;
          }
        }
      }
      &-title {
        padding: 40px 25px;
        line-height: normal;

        @include mq($bp1024) {
          padding: 20px 25px;
        }

        a {
          font-size: 2rem;
          color: $color-shark;

          @include mq($bp1024) {
            font-size: 1.6rem;
          }

          &:hover {
            color: $color-fern;
          }
        }
      }
      &-field-level,
      &-field-language {
        text-align: right;
        padding: 0 25px;
        font-size: 1.6rem;

        @include mq($bp1024) {
          font-size: 1.4rem;
        }

        span {
          text-transform: capitalize;
        }
      }
      &-field-language {
        margin-top: auto;
      }
      &-field-level {
        padding: 10px 25px;
      }
    }
  }

  .pager {
    text-align: center;
    padding: 0 0 30px;

    @include mq($bp1024) {
      padding: 0;
    }
  }

  .clearfix {
    &:after {
      display: none !important;
    }
  }
}

.field--name-field {

  &-presentations-list {
    //width: 100%;
  }

  &-presentations-cta {
    width: 100%;

    @include mq($bp1024) {
      margin: 0 auto;
      max-width: 450px;
      min-height: 280px;
    }

    @include mq($bp1200) {
      margin: 0 0 0 30px;
      max-width: 255px;
    }
  }

  &-presentations-list {
    width: 100%;

    @include mq($bp1024) {
      min-height: 280px;
    }

    @include mq($bp1200) {
      min-height: 280px;
    }

    & > .views-element-container {
      @include mq($bp1024) {
        min-height: 280px;
      }

      @include mq($bp1200) {
        min-height: 280px;
      }
      .views-infinite-scroll-content-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include mq($bp580) {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}
