// CTA block styles.

.paragraph--type--cta-block {
  width: 100%;
  max-width: 345px;
  margin: 40px auto;

  @include mq($bp1024) {
    max-width: 400px;
    margin: 0 auto 40px auto;
  }

  .field--name-field-right-rail & {
    max-width: 800px;

    @include mq($bp1280) {
      margin: 0 0 40px 0;
    }
    @include mq($bp1024) {
      max-width: 400px;
      margin: 0 15px 40px 0;
    }
  }

  .field--name-field_title {
    padding: 36px 20px;

    border-radius: 6px 6px 0 0;
    background-size: cover;

    font-family: $font-proxima-nova-regular;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.42;

    @include mq($bp1024) {
      padding: 36px 40px;
    }
  }
  .field--name-field_cta_link {
    height: 63px;
    padding: 20px;

    border-radius: 0 0 6px 6px;
    background-color: $color-bali-hai;

    @include mq($bp1024) {
      padding: 20px 40px;
    }
    @include icoMoon('arrow-right', 'after');

    a {
      font-weight: 400;
      &:hover {
        color: rgba($color-fountain-blue, .6);
      }
    }
  }
}
