// Paragraph Wrapper WebForm

.paragraph--type--wrapper-webform {
  padding: 0 0 30px;

  @include mq($bp1024) {
    padding: 0 0 40px;
  }

  .field--name-field-title {
    margin-bottom: 20px;

    text-align: center;
    text-transform: uppercase;

    color: $color-shark;

    font-family: $font-proxima-nova-bold;
    font-size: 2.4rem;

    @include mq($bp1024) {
      margin-bottom: 30px;

      font-size: 3.6rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    width: 100%;

    flex-wrap: wrap;
    @include mq($bp1024) {
      flex-direction: row;

      width: 644px;
      margin: 0 auto;

      flex-wrap: wrap;
    }
    justify-content: space-between;
  }

  .form-item {
    label {
      display: none;
    }

    &-name,
    &-telefon,
    &-email,
    &-subject {
      width: 100%;

      @include mq($bp1024) {
        width: 50%;
        max-width: 314px;
      }
    }

    &-message,
    .form-actions {
      width: 100%;
    }

    input,
    textarea {
      color: $color-tuna;
      border-color: $color-silver;
      background: $color-gallery;

      &:focus {
        border-color: $color-storm-gray;
        background: $color-gallery;
      }

      &:hover {
        border-color: $color-storm-gray;
        background: $color-gallery;
      }
    }
  }

  .webform-actions {
    margin: 10px auto 0;

    .form-submit {
      appearance: none;
      @include mq($bp1024) {
        width: 350px;

        text-transform: uppercase;
      }
    }
  }
}
