//Related Items Styles

.paragraph--type--related-items {
  @include clearfix;
  display: block;
  width: 100%;
  max-width: 800px;
  background-color: rgba($color-black, 0.05);
  padding: 20px 20px 0 20px;
  margin: 40px auto;
  border-radius: 6px;
  line-height: 1.63;

  .field--name-field-title {
    color: $color-mine-shaft;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  article {
    margin-bottom: 20px;

    .field--name-field-image {
      height: 80px;
      margin-bottom: 10px;
      img {
        display: block;
        margin: 0 auto;
      }
    }

    h4 {
      margin-bottom: 5px;
      a {
        color: $color-bondi-blue;
        font-weight: normal;
        font-size: 1.6rem;
        margin-bottom: 5px;
        &:hover {
          color: rgba($color-bondi-blue, .6);
        }
      }
    }

    .username {
      color: $color-dusty-gray;
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .field--name-body {
      font-size: 1.6rem;
    }
  }

  @include mq($bp1024) {
    margin: 0 auto 40px auto;
    max-width: 400px;
  }
}