//Page header styles

.paragraph--type--hero-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  min-height: 475px;

  .content {
    width: auto;
  }

  .field {
    &--name-field-heading,
    &--name-field-subheading {
      text-align: center;
      text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.3);
    }

    &--name-field-heading {
      font-family: $font-proxima-nova-light;
      font-size: 9vw;
      color: $color-white;
      text-transform: uppercase;
      margin: 0 0 10px;

      @include mq($bp1024) {
        font-size: 8rem;
      }

      span {
        color: $color-fern;
      }
    }
    &--name-field-subheading {
      font-family: $font-proxima-nova-light;
      font-size: 5vw;
      color: $color-white;

      @include mq($bp1024) {
        font-size: 4rem;
      }
    }

    &--name-field-cta-link {
      margin: 0 0 2vh;
      text-align: center;

      a {
        @include button;
        box-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.1);

        @include mq($bp1024) {
          padding: 10px 120px;
        }
      }
    }
  }

  #countdown-clock {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 5vh 0 5vh;

    @include mq($bp1024) {
      margin: 8vh 0 6vh;
    }

    .time-item {
      display: flex;
      flex-direction: column;
      margin: 0 1vw;

      span {
        font-family: $font-proxima-nova-light;
        color: $color-white;
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
        text-align: center;

        &:first-child {
          font-size: 16vw;

          @include mq($bp1024) {
            font-size: 14rem;
          }
        }
        &:last-child {
          font-size: 4vw;

          @include mq($bp1024) {
            font-size: 2.8rem;
          }
        }
      }
    }
    .time-dots {
      padding-bottom: 1.8vh;
      span {
        font-size: 10vw;
        font-family: $font-proxima-nova-light;
        color: $color-white;
        text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .3);
        text-align: center;

        @include mq($bp1024) {
          font-size: 10rem;
        }
      }
    }
  }
}

body.transparent-header .paragraph--type--hero-countdown {
  @include mq($bp1024) {
    height:100vh;
    //min-height: 600px;
  }
}
