.paragraph--type--subscribe-block {
  padding: 2rem;

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    @include mq($bp1024) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 644px;
      margin: 0 auto;
    }
  }

  h2,
  h2 .field--type-string,
  .field--type-text-long,
  .field--type-text-long p {
    color: inherit;
  }

  .form-item {
    label {
      display: none;
    }

    &-email {
      width: 100%;
    }

    .form-actions {
      width: 100%;
    }

    input,
    textarea {
      background: $color-gallery;
      border-color: $color-silver;
      color: $color-tuna;

      &:focus {
        background: $color-gallery;
        border-color: $color-storm-gray;
      }

      &:hover {
        background: $color-gallery;
        border-color: $color-storm-gray;
      }
    }
  }

  .webform-actions {
    margin: 10px auto 0;
    text-align: center;

    .form-submit {
      appearance: none;

      @include mq($bp1024) {
        width: 350px;
        text-transform: uppercase;
      }
    }
  }

  .field--name-field-webform {
    margin: 0 auto;
  }
}
