// Sponsor section paragraph.

.paragraph--type--sponsor-section {
  &.paragraph--view-mode--in-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: none;
    margin-bottom: 15px;
    padding: 0;
  }

  &--header {
    display: flex;
    justify-content: center;
    font-family: $font-proxima-nova-bold;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    padding: 8px 8px 10px;
    margin: 0;
    height: 45px;
    width: 100%;
  }

  &--content {
    border: 1px solid $color-black;
    border-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq($bp1024) {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
