//Container paragraph

.paragraph--type--one-third-teaser {
  margin: 0 auto;
  max-width: 610px;

  .field--name-field-title {
    padding-top: 20px;
    font-family: $font-montserrat;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .field--name-field-format-text {
    line-height: 1.63;
    padding-top: 20px;
    margin: 0;
  }

  .field--name-field-link {
    a {
      font-size: 1.4rem;
      color: $color-white;
    }
  }
}
