// Teaser brick.

.paragraph--type--teaser {
  .field--name-field-intro-image {
    padding-top: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .field--name-field-title {
    padding-top: 20px;

    font-family: $font-proxima-nova-regular;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.42;
  }

  .field--name-field-hero-subtitle {
    padding-top: 5px;

    text-transform: uppercase;

    color: $color-storm-gray;

    font-size: 1.1rem;
    font-weight: 900;
  }

  .field--name-field-format-text {
    margin: 0;
    padding-top: 20px;

    line-height: 1.63;
  }
  .field--name-field-link {
    a {
      font-weight: normal;
      line-height: 1.63;

      @include icoMoon('arrow-right', 'after');
      &:after {
        position: relative;
        bottom: -2px;

        padding-left: 5px;
      }
    }
  }
}
