// Paragraph HTML Widget

.paragraph--type--html-widget {
  padding-top: 30px;

  p {
    padding-bottom: 20px;
    font-family: $font-proxima-nova-regular;
    font-size: 1.6rem;
    line-height: 1.4;
    color: $color-shark;
  }

  h2 {
    font-size: 3.6rem;
    font-family: $font-proxima-nova-bold;
    color: $color-tuna;
    line-height: 1.2;
  }

  h3 {
    font-size: 2.4rem;
    font-family: $font-proxima-nova-bold;
    color: $color-tuna;
    line-height: 1.2;
  }

  blockquote {
    margin-bottom: 20px;
    padding-left: 30px;
    border-left: 10px solid $color-fern;
    max-width: 500px;

    p {
      padding-bottom: 0;
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    padding: 0;
    counter-reset: item;
    max-width: 700px;

    @include mq($bp1024) {
      padding: 0 0 0 10px;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.6rem;
      padding: 20px 10px 20px 15px;
      border-bottom: 1px solid $color-tuna;
      line-height: 1.4;

      @include mq($bp1024) {
        padding: 20px 10px 20px 30px;
      }

      &:last-child {
        border-bottom: none;
      }

      &:first-child {
        &::before {
          padding-right: 30px;
        }
      }

      &::before {
        padding-right: 20px;
        font-size: 4.8rem;
        font-family: $font-proxima-nova-bold;
        text-align: center;
        content: counter(item) " ";
        counter-increment: item;
        color: $color-fern;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 20px;
    max-width: 700px;

    @include mq($bp1024) {
      padding: 0 0 20px 45px;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 10px;
      margin-bottom: 15px;
      line-height: 1.4;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        padding-top: 5px;
        padding-right: 30px;
        font-size: 2.2rem;
        font-family: $font-proxima-nova-bold;
        content: "◼";
        color: $color-fern;
      }
    }
  }

  .table_week tbody {
    display: flex;
    flex-direction: column;
    padding: 0;

    tr {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.6rem;
      padding: 20px 10px 20px 15px;
      border-bottom: 1px solid $color-tuna;

      @include mq($bp1024) {
        padding: 20px 10px 20px 30px;
      }

      &:last-child {
        border-bottom: none;
      }

      td {
        &:first-child {
          padding-right: 20px;
          font-size: 4.8rem;
          font-family: $font-proxima-nova-bold;
          text-align: center;
          color: $color-fern;
        }

        &:last-child {
          font-size: 2.4rem;
          font-family: $font-proxima-nova-bold;
          line-height: 1.4;
        }
      }
    }
  }

  .table_week + h3,
  .table_week + h2,
  ol + h3,
  ol + h2,
  ul + h3,
  ul + h2,
  p + h3,
  p + h2,
  blockquote + h3,
  blockquote + h2 {
    padding-top: 10px;
  }
}
