.paragraph--type--camp-products {
  padding: 0 0 30px;

  .camp-tickets-list {
    display: flex;
    flex-direction: column;

    @include mq($bp1024) {
      flex-direction: row;

      flex-wrap: wrap;
    }
    justify-content: space-between;
  }

  .views-row {
    width: 100%;
    margin-bottom: 16px;
    padding: 15px;

    border: 1px solid $color-tuna;

    @include mq($bp1024) {
      max-width: 350px;
      margin-bottom: 0;

      &:nth-child(n+4) {
        margin-top: 20px;
      }
    }

    article {
      display: flex;
      flex-direction: column;

      min-height: 200px;

      align-items: center;
      justify-content: space-between;
    }
  }

  .contextual-region .views-row:nth-child(4) {
    @include mq($bp1024) {
      margin-top: 0;
    }
  }

  .views-field-title {
    padding: 0 10px 10px;

    text-align: center;

    color: $color-tuna;
    border-bottom: 2px solid $color-silver;

    font-family: $font-proxima-nova-regular;
    font-size: 2.4rem;
    line-height: 1.2;
  }

  .views-field-body {
    padding: 20px 0;

    text-align: center;

    font-family: $font-proxima-nova-bold;
  }

  .views-field-variations {
    padding: 0 0 10px;

    text-align: center;

    .field-content {
      display: flex;
      flex-direction: column;

      & > div {
        padding-bottom: 20px;

        font-family: $font-proxima-nova-bold;
        font-size: 2rem;
      }

      .field__label {
        padding-bottom: 10px;
      }
    }
  }

  h2 {
    text-align: center;
    text-transform: uppercase;

    font-family: $font-proxima-nova-bold;
    font-size: 3.6rem;
  }

  .button {
    text-transform: uppercase;

    appearance: none;
  }
}
