// Paragraph Sponsors
.paragraph--type--sponsor {
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq($bp1024) {
    align-items: center;
  }

  &.content {
    width: 100%;
  }

  .wrap-content {
    @include mq($bp1024) {
      max-width: 980px;
      padding-top: 0;
      width: 100%;
    }
  }

  .field--name-field-sponsor-section {
    display: flex;
    flex-direction: column;

    @include mq($bp1024) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & > .field__item {
      @include mq($bp1024) {
        width: 100%;
        max-width: 476px;
      }
    }
  }
}
