// Paragraph Wrapper WebForm

.paragraph--type--wrapper-webform {
  padding: 0 0 30px;

  .field--name-field-title {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-family: $font-proxima-nova-bold;
    text-align: center;
    color: $color-shark;
    text-transform: uppercase;

    @include mq($bp1024) {
      margin-bottom: 30px;
      font-size: 3.6rem;
    }
  }

  @include mq($bp1024) {
    padding: 0 0 60px;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    @include mq($bp1024) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 644px;
      margin: 0 auto;
    }
  }

  .form-item {
    label {
      display: none;
    }

    &-name,
    &-telefon,
    &-email,
    &-subject {
      width: 100%;

      @include mq($bp1024) {
        width: 50%;
        max-width: 314px;
      }
    }

    &-message,
    .form-actions {
      width: 100%;
    }

    input,
    textarea {
      background: $color-gallery;
      border-color: $color-silver;
      color: $color-tuna;

      &:focus {
        background: $color-gallery;
        border-color: $color-storm-gray;
      }

      &:hover {
        background: $color-gallery;
        border-color: $color-storm-gray;
      }
    }
  }

  .webform-actions {
    margin: 10px auto 0;

    .form-submit {
      @include mq($bp1024) {
        width: 350px;
        text-transform: uppercase;
      }
    }
  }

}
