// Paragraph: Presentations

.paragraph--type--presentations {
  & > .content {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;

    @include mq($bp1024) {
      flex-direction: row;
    }
  }
}

.field--name-field {

  &-presentations-list {
    //width: 100%;
  }

  &-presentations-cta {
    width: 100%;

    @include mq($bp1024) {
      margin: 0 auto;
      max-width: 450px;
      min-height: 280px;
    }
  }
}
