//

.paragraph--type--social-links {
  height: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;

  @include mq($bp1024) {
    height: 366px;
    margin-bottom: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .field {
    &--name-field-description {
      color: $color-white;
      text-align: center;
      font-family: $font-proxima-nova-bold;
      font-size: 1.6rem;
      letter-spacing: 0.4px;

      @include mq($bp1024) {
        font-size: 3rem;
      }
    }
    &--name-field-links {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 0 30px;

      @include mq($bp1024) {
        padding: 0 0 50px;
        justify-content: center;
      }

      .field__item {
        margin: 0 15px;
      }

      a {
        color: $color-white;
      }

      .fab {
        color: $color-white;
        font-size: 3.8rem;

        @include mq($bp1024) {
          font-size: 5.4rem;
        }
      }
    }
  }

  a {
    color: $color-white;
  }
}
