// Pipeline Teasers.

.paragraph--type--pipeline-issue-teasers {
  @include mq($bp1024) {
    padding: 0 0 25px;
  }

  .viewsreference--view-title {
    display: block;
    padding: 20px 0;
    font-family: $font-montserrat;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.42;
    color: $color-calypso;
  }
}

.pipeline-teasers {
  .views {
    &-row {
      padding: 0 0 35px;
    }
    &-field-title .field-content {
      display: block;
      padding: 0 0 10px;
      font-family: $font-montserrat;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
      color: $color-mine-shaft;
    }
    &-field-field-ct-author .field-content {
      padding: 0 0 18px;
      font-family: $font-lato;
      font-size: 1.1rem;
      font-weight: 900;
      line-height: 1.6;
      color: $color-dusty-gray;
      text-transform: uppercase;

      &:before {
        content: 'by ';
        font: inherit;
      }
    }
    &-field-body {
      p {
        font-family: $font-lato;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.63;
        color: $color-mine-shaft;
      }
      ul {
        list-style: disc;
        padding-left: 17px;
        font-family: $font-lato;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.63;
      }
    }
    &-field-view-node {
      color: $color-bondi-blue;
      padding-right: 2px;
      a {
        font-family: $font-lato;
        font-size: 1.6rem;
        line-height: 1.63;
        font-weight: 400;
        color: inherit;
        transition: color .2s;
        outline: none;
        text-decoration: none;

        &:hover {
          color: rgba($color-bondi-blue, .6);
        }
      }

      @include icoMoon('arrow-right', 'after');

      &:after {
        &:hover {
          color: rgba($color-bondi-blue, .6);
        }
      }

    }
  }
}
