.paragraph--type--camp-products {
  padding: 0 0 30px;

  .camp-tickets-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq($bp1024) {
      flex-direction: row;
    }
  }

  .views-row {
    width: 100%;
    padding: 15px;
    margin-bottom: 16px;
    border: 1px solid $color-tuna;

    @include mq($bp1024) {
      margin-bottom: 0;
      max-width: 350px;
    }

    article {
      min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  .views-field-title {
    font-size: 2.4rem;
    font-family: $font-proxima-nova-regular;
    color: $color-tuna;
    line-height: 1.2;
    padding: 0 10px 10px;
    border-bottom: 2px solid $color-silver;
    text-align: center;
  }

  .views-field-body {
    font-family: $font-proxima-nova-bold;
    padding: 20px 0;
    text-align: center;
  }

  .views-field-variations {
    padding: 0 0 10px;
    text-align: center;

    .field-content {
      display: flex;
      flex-direction: column;

      & > div {
        padding-bottom: 20px;
        font-size: 2rem;
        font-family: $font-proxima-nova-bold;
      }

      .field__label {
        padding-bottom: 10px;
      }
    }
  }

  h2 {
    font-size: 3.6rem;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-proxima-nova-bold;
  }

  .button {
    text-transform: uppercase;
    appearance: none;
  }
}