.paragraph--view-mode--in-wrapper {

  padding: 36px 0;

  @include mq($bp768) {
    max-width: 400px;
  }

  @include mq($bp1024) {
    padding: 0;
    max-width: 300px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include mq($bp1024) {
      height: 285px;
    }

    .field--name-field {
      &-intro-image {
        padding: 0 0 16px;

        @include mq($bp1024) {
          padding: 0 0 30px;
        }

        img {
          height: 40px;
        }
      }

      &-title {
        font-size: 1.8rem;
        font-family: $font-proxima-nova-bold;
        text-transform: uppercase;
        text-align: center;
        color: $color-fern;
        padding: 0 0 16px;

        @include mq($bp1024) {
          padding: 0 0 24px;
        }
      }

      &-text {
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.5;

        @include mq($bp1024) {
          font-size: 1.4rem;
          line-height: 1.4;
        }

        P {
          color: $color-white;
        }
      }

      &-link {
        margin: auto 0 0;
        padding-top: 20px;
        text-transform: uppercase;

        @include mq($bp1024) {
          padding: 0;
        }

        a {
          font-size: 1.2rem;
          line-height: 1.5;
          &::after {
            content: '';
            padding-left: 0;
            position: relative;
            bottom: 0;
          }

          &:hover {
            border-bottom: 1px solid;
          }
        }
      }
    }

    .field--type-text-long {
      margin: 0;
    }
  }
}

