.paragraph--view-mode--in-wrapper {
  padding: 36px 0;

  @include mq($bp1024) {
    max-width: 300px;
    padding: 0;
  }
  @include mq($bp768) {
    max-width: 400px;
  }

  .content {
    display: flex;
    flex-direction: column;

    align-items: center;
    @include mq($bp1024) {
      height: 285px;
    }
    justify-content: space-between;

    .field--name-field {
      &-intro-image {
        padding: 0 0 16px;

        @include mq($bp1024) {
          padding: 0 0 30px;
        }

        img {
          height: 40px;
        }
      }

      &-title {
        padding: 0 0 16px;

        text-align: center;
        text-transform: uppercase;

        color: $color-fern;

        font-family: $font-proxima-nova-bold;
        font-size: 1.8rem;

        @include mq($bp1024) {
          padding: 0 0 24px;
        }
      }

      &-text {
        width: 100%;
        padding: 0;

        text-align: center;

        font-size: 1.6rem;
        line-height: 1.5;

        @include mq($bp1024) {
          font-size: 1.4rem;
          line-height: 1.4;
        }

        p {
          padding: 0 15px;

          color: $color-white;

          @include mq($bp1024) {
            padding: 0;
          }
        }
      }

      &-link {
        margin: auto 0 0;
        padding-top: 20px;

        text-transform: uppercase;

        @include mq($bp1024) {
          padding: 0;
        }

        a {
          font-size: 2rem;
          line-height: 1.5;

          @include mq($bp1024) {
            font-size: 1.2rem;
          }

          &::after {
            position: relative;
            bottom: 0;

            padding-left: 0;

            content: '';
          }

          &:hover {
            border-bottom: 1px solid;
          }
        }
      }
    }

    .field--type-text-long {
      margin: 0;
    }
  }
}
