//

.paragraph--type--social-links {
  display: flex;

  height: 166px;
  margin-bottom: 14px;

  align-items: center;
  @include mq($bp1024) {
    height: 366px;
    margin-bottom: auto;
  }
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  .field {
    &--name-field-description {
      text-align: center;
      letter-spacing: .4px;

      color: $color-white;

      font-family: $font-proxima-nova-bold;
      font-size: 1.6rem;

      @include mq($bp1024) {
        font-size: 3rem;
      }
    }
    &--name-field-links {
      display: flex;

      padding: 0 0 30px;

      align-items: center;
      @include mq($bp1024) {
        padding: 0 0 50px;

        justify-content: center;
      }
      justify-content: space-around;

      .field__item {
        margin: 0 15px;
      }

      a {
        color: $color-white;
      }

      .fab {
        color: $color-white;

        font-size: 3.8rem;

        @include mq($bp1024) {
          font-size: 5.4rem;
        }
      }
    }
  }

  a {
    color: $color-white;
  }
}
