// Section Intro Styles.

.paragraph--type--section-intro {
  @include clearfix;
  margin: 0 0 38px;
  border-bottom: 5px solid rgba($color-white, .4);

  .content_wrapper {
    text-align: center;
  }

  .field--name {
    &-field-intro-image {
      display: block;
      margin: 0 auto 20px auto;

      @include mq($bp580) {
        float:left;
        margin-right: 34px;
      }
    }

    &-field-title {
      color: $color-calypso;
      font-family: $font-montserrat;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.42;
      margin-bottom: 20px;
      text-align: left;
    }

    &-field-description {
      max-width: 820px;
      font-family: $font-lato;
      font-size: 2.0rem;
      line-height: 1.5;
      color: $color-mine-shaft;
      margin: 0 auto;
      text-align: left;
    }

    &-field-intro-cta {
      @include mq($bp1024) {
        width: 100%;
        max-width: 400px;
      }
    }

    &-field-media-image {
      img {
        @include mq($bp960) {
          max-width: 370px;
        }
      }
    }
  }

  @include mq($bp1024) {
    display: flex;
    flex-wrap: nowrap;
    margin: 40px 0 38px;
    padding-bottom: 40px;

    .cta_wrapper {
      width: 100%;
      max-width: 400px;
      margin-left: 20px;
      .paragraph--type--cta-block {
        margin: 0;
      }
      &:empty {
        display: none;
      }
    }
  }
}

.field--name-field {
  $f: &;
  &-right-rail {
    & + #{$f}-page-content {
      &.paragraph--type--section-intro {
        @include mq($bp1024) {
          width: 65%;
        }
      }
    }
  }
}
