
.paragraph--type--sponsor-wrapper {
  width: 100%;
  max-width: 980px;
  margin: 0 auto 30px;

  .field--name-field-sponsor-section {
    display: flex;
    flex-direction: column;

    @include mq($bp1024) {
      flex-direction: row;

      justify-content: space-between;
    }

    & > .field__item {
      margin: 0 0 15px;

      border: 1px solid $color-black;

      @include mq($bp1024) {
        width: calc(50% - 14px);
      }
    }
  }
}

.paragraph--type--sponsors {
  width: 100%;

  .sponsor-type--item {
    display: flex;

    height: 45px;

    align-items: center;
    justify-content: center;

    .field--name-name {
      text-align: center;
      text-transform: uppercase;

      color: $color-white;

      font-family: $font-proxima-nova-bold;
      font-size: 18px;
    }
  }
  .platinum-sponsor {
    background-image: linear-gradient(to top, #3A3A43, #737A7F);
  }
  .gold-sponsor {
    background-image: linear-gradient(to top, #937050, #ECD67F);
  }
  .silver-sponsor {
    background-image: linear-gradient(to top, #6B7077, #A8AEB2);
  }
  .bronze-sponsor {
    background-image: linear-gradient(to top, #578F5B, #65BD6A);
  }

  .views-element-container {
    & > div {
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;
      justify-content: space-around;

      header {
        width: 100%;
        margin-bottom: 20px;
      }
      .views-row {
        width: 100%;
        max-width: 130px;
        margin: 20px 0;
      }
    }
  }
}
