// Teaser brick.

.paragraph--type--teaser {

  .field--name-field-intro-image {
    padding-top: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .field--name-field-title {
    font-family: $font-proxima-nova-regular;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.42;
    padding-top: 20px;
  }

  .field--name-field-hero-subtitle {
    font-size: 1.1rem;
    font-weight: 900;
    padding-top: 5px;
    color: $color-storm-gray;
    text-transform: uppercase;
  }

  .field--name-field-format-text {
    line-height: 1.63;
    padding-top: 20px;
    margin: 0;
  }
  .field--name-field-link {
    a {
      line-height: 1.63;
      font-weight: normal;
      @include icoMoon('arrow-right', 'after');
      &:after {
        padding-left: 5px;
        position: relative;
        bottom: -2px;
      }
    }
  }
}
