//Search styles

.paragraph--type--search-results {
  max-width: 82rem;

  @include clearfix;

  form {
    display: none;
  }

  .views-element-container {
    header {
      h1 {
        margin-bottom: 2.0rem;

        color: $color-fern;

        line-height: 1.42;
      }
      p {
        margin-bottom: 4.0rem;

        line-height: 1.63;
      }
    }

    .views-row {
      h2 {
        margin-bottom: .5rem;
        a {
          font-family: $font-proxima-nova-regular;
          font-size: 2.0rem;
          font-weight: 500;
        }
      }
      h5 {
        margin-bottom: 1.0rem;

        text-transform: uppercase;
      }
      p {
        margin-bottom: 4.0rem;

        line-height: 1.63;
      }
    }
  }

  nav.pager ul {
    display: flex;

    @include inline-list-items;
    justify-content: center;

    li {
      margin-right: 30px;
      a {
        font-weight: normal;
      }
    }

    li.is-active a {
      color: $color-shark;
    }

    .pager__item {
      &--first,
      &--previous,
      &--next,
      &--last {
        display: none;
      }
    }
  }
}
