//Search styles

.paragraph--type--search-results {
  @include clearfix;
  max-width: 82rem;

  form {
    display: none;
  }

  .views-element-container {
    header {
      h1 {
        color: $color-fern;
        line-height: 1.42;
        margin-bottom: 2.0rem;
      }
      p {
        line-height: 1.63;
        margin-bottom: 4.0rem;
      }
    }

    .views-row {
      h2 {
        margin-bottom: .5rem;
        a {
          font-family: $font-proxima-nova-regular;
          font-size: 2.0rem;
          font-weight: 500;
        }
      }
      h5 {
        text-transform: uppercase;
        margin-bottom: 1.0rem;
      }
      p {
        line-height: 1.63;
        margin-bottom: 4.0rem;
      }
    }
  }

  nav.pager ul {
    @include inline-list-items;
    display: flex;
    justify-content: center;

    li {
      margin-right: 30px;
      a {
        font-weight: normal;
      }
    }

    li.is-active a {
      color: $color-shark;
    }

    .pager__item {
      &--first, &--previous, &--next, &--last {
        display: none;
      }
    }
  }
}