// Site level alert
.block-dckyiv-site-alert-block {
  background-color: $color-fern;
  text-align: center;
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .5s;

  &.active {
    opacity: 1;
    height: auto;
    visibility: visible;
  }
  &.no-dismiss .message {
    margin-right: auto;
  }
  .wrapper {
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq($bp1024) {
      max-width: 1440px;
      padding: 22px 100px;
    }
  }

  .message {
    @include icoMoon('alert-circle');
    display: inline-block;
    position: relative;
    margin-left: auto;
    color: $color-white;
    text-align: left;
    padding: 0 30px 0 60px;
    @include mq($bp1024) {
      padding: 0 0 0 60px;
      max-width: 550px;
    }

    &:before {
      color: $color-fern;
      font-size: 40px;
      left: 0;
      @include vertical-align();
    }
    a {
      @include icoMoon('arrow-right', 'after');
      color: $color-white;
      padding-left: 1rem;

      &:after {
        position: relative;
        bottom: -2px;
        padding-left: 5px;
      }
    }
  }

  .dismiss {
    color: $color-fern;
    margin-left: auto;
    display: block;
    padding: 1rem;
    position: absolute;
    right: 5px;
    top: 5px;
    @include icoMoon('x', 'after', TRUE);

    @include mq($bp1024) {
      position: static;
      font-size: 1.6rem;
    }

    &:after {
      font-size: 1.6rem;
      @include mq($bp1024) {
        display: none;
      }
    }

  }

}
