// Site level alert
.block-dckyiv-site-alert-block {
  visibility: hidden;
  overflow: hidden;

  height: 0;

  transition: opacity .5s;
  text-align: center;

  opacity: 0;
  background-color: $color-fern;

  &.active {
    visibility: visible;

    height: auto;

    opacity: 1;
  }
  &.no-dismiss .message {
    margin-right: auto;
  }
  .wrapper {
    display: flex;

    padding: 30px 15px;

    align-items: center;
    @include mq($bp1024) {
      max-width: 1440px;
      padding: 22px 100px;
    }
    justify-content: center;
  }

  .message {
    position: relative;

    display: inline-block;

    margin-left: auto;
    padding: 0 30px 0 60px;

    text-align: left;

    color: $color-white;

    @include mq($bp1024) {
      max-width: 550px;
      padding: 0 0 0 60px;
    }
    @include icoMoon('alert-circle');

    &:before {
      left: 0;

      color: $color-fern;

      font-size: 40px;

      @include vertical-align();
    }
    a {
      padding-left: 1rem;

      color: $color-white;

      @include icoMoon('arrow-right', 'after');

      &:after {
        position: relative;
        bottom: -2px;

        padding-left: 5px;
      }
    }
  }

  .dismiss {
    position: absolute;
    top: 5px;
    right: 5px;

    display: block;

    margin-left: auto;
    padding: 1rem;

    color: $color-fern;

    @include mq($bp1024) {
      position: static;

      font-size: 1.6rem;
    }
    @include icoMoon('x', 'after', TRUE);

    &:after {
      font-size: 1.6rem;

      @include mq($bp1024) {
        display: none;
      }
    }
  }
}
