// Modal
.ui-dialog {
  z-index: 100;

  max-width: 700px;
  padding: 0;

  border: none !important;
  border-radius: 0;
  box-shadow: 0 12px 10px 0 rgba($color-black, .1);

  .ui-dialog-titlebar {
    padding: 18px 25px;

    border: none;
    border-radius: 6px;
    background-color: $color-white;

    .ui-dialog-title {
      white-space: normal;

      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
    }
  }
  div.ui-dialog-content {
    overflow-x: hidden;
    overflow-y: scroll;

    padding: 10px 25px 18px 25px;
  }

  .ui-dialog-titlebar-close {
    top: 25px;
    right: 25px;

    width: 30px;
    height: 30px;

    text-indent: 0;

    color: $color-black;
    border: none;
    background: transparent;

    font-size: 0;

    @include icoMoon('x', 'before');
    @include mq($bp768) {
      top: 28px;
    }
    &:before {
      font-size: 1.4rem;
      font-weight: 700;
    }
    span {
      display: none;
    }
  }
  .ui-dialog-buttonpane {
    .ui-dialog-buttonset {
      button {
        @include button('primary');
      }
    }
    &.ui-widget-content {
      border-radius: 6px;
    }
  }
}

.ui-widget {
  &.ui-widget-content {
    width: 300px !important;

    border: none;

    @include mq($bp768) {
      width: 450px !important;
    }
  }
}

// Style for 'Contact Us' elements.
.ui-dialog.contact-us-modal {
  .ui-dialog-titlebar {
    padding: 0;
  }

  .ui-dialog-titlebar-close {
    z-index: 10;
    top: 15px;
    right: 5px;
  }

  .ui-dialog-content {
    position: relative;

    padding: 68px 12px 0;

    text-align: center;

    border: 0;

    font-family: $font-proxima-nova-regular;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6;

    @include icoMoon('alert-circle', 'before');
    &:before {
      position: absolute;
      top: 18px;
      left: 50%;

      margin-left: -1.85rem;

      color: $color-fern;

      font-size: 3.7rem;
    }
  }

  .ui-dialog-buttonpane.ui-widget-content {
    padding: .3rem 1rem .3rem;

    border: none;

    .ui-dialog-buttonset {
      display: flex;
      float: none;
      flex-direction: row;

      max-width: 300px;
      margin: 0 auto;

      justify-content: space-between;

      button {
        float: none;

        &:nth-child(1) {
          margin-right: 20px;

          @include button('primary');
        }
        &:nth-child(2) {
          @include button('secondary');
        }
      }
    }
  }
  .ui-dialog-title {
    display: none;
  }
}

div.ui-widget-overlay {
  opacity: .8;
  background: $color-black;
}
