// Modal
.ui-dialog {
  padding: 0;
  border: none !important;
  border-radius: 0px;
  max-width: 700px;
  box-shadow: 0 12px 10px 0 rgba($color-black, 0.1);

  .ui-dialog-titlebar {
    background-color: $color-white;
    border: none;
    padding: 18px 25px;
    border-radius: 6px;

    .ui-dialog-title {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      white-space: normal;
    }
  }
  div.ui-dialog-content {
    padding: 10px 25px 18px 25px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .ui-dialog-titlebar-close {
    text-indent: 0;
    color: $color-black;
    font-size: 0;
    background: transparent;
    border: none;
    right: 25px;
    width: 30px;
    height: 30px;
    top: 25px;
    @include mq($bp768) {
      top: 28px;
    }
    @include icoMoon('x', 'before');
    &:before {
      font-size: 1.4rem;
      font-weight: 700;
    }
    span {
      display: none;
    }
  }
  .ui-dialog-buttonpane {
    .ui-dialog-buttonset {
      button {
        @include button('primary');
      }
    }
    &.ui-widget-content {
      border-radius: 6px;
    }
  }
}

.ui-widget {
  &.ui-widget-content {
    border: none;
    width: 300px !important;
    @include mq($bp768) {
      width: 450px !important;
    }
  }
}

// Style for 'Contact Us' elements.
.ui-dialog.contact-us-modal {
  .ui-dialog-titlebar {
    padding: 0;
  }

  .ui-dialog-titlebar-close {
    right: 5px;
    top: 15px;
    z-index: 10;
  }

  .ui-dialog-content {
    position: relative;
    padding: 68px 12px 0;
    border: 0;
    font-family: $font-proxima-nova-regular;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;

    @include icoMoon('alert-circle', 'before');
    &:before {
      position: absolute;
      top: 18px;
      left: 50%;
      margin-left: -1.85rem;
      color: $color-fern;
      font-size: 3.7rem;
    }
  }

  .ui-dialog-buttonpane.ui-widget-content {
    padding: .3rem 1rem .3rem;
    border: none;

    .ui-dialog-buttonset {
      float: none;
      display: flex;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
      max-width: 300px;

      button {
        float: none;

        &:nth-child(1) {
          @include button('primary');
          margin-right: 20px;
        }
        &:nth-child(2) {
          @include button('secondary');
        }
      }
    }
  }
  .ui-dialog-title {
    display: none;
  }
}

div.ui-widget-overlay {
  background: $color-black;
  opacity: .8;
}
