// User login form

#user-login-form,
#user-pass {
  max-width: 610px;
  border-top: 5px solid $color-fern;
  padding: 20px 0;
  margin: 40px auto 60px auto;

  .password-message {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .login-message {
    padding: 20px;
    margin-bottom: 20px;
    background-color: $color-rodeo-dust;
    line-height: 1.63;
  }

  .form-item-name {
    @include mq($bp1024) {
      padding-right: 10px;
      float: left;
      width: 50%;
    }
  }
  .form-item-pass {
    @include mq($bp1024) {
      float: right;
      width: 50%;
      padding-left: 10px;
    }
  }
  .form-item-persistent-login {
    clear: both;
    .element-container {
      display: inline-block;
      input {
        font-size: 2rem;
        margin: 0 .5rem 0 0;
      }
    }
    label {
      margin: 0;
      position: relative;
      bottom: -2px;
    }
  }
  .form-actions {
    clear: both;
  }
  .form-submit {
    @include mq($bp1024) {
      width: 100%;
      max-width: 295px;
    }
  }
}
body.user-login, body.user-pass {
  .block-system-main-block {
    padding: 0 15px;
  }
}

