.view-dckyiv-exposed-filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;

  @include mq($bp960) {
    margin-bottom: 60px;
  }

  .button {
    @include button('primary');
    line-height: 1.9;
    display: block;
  }

  .pager {
    width: 100%;
    margin: 10px auto 0;

    @include mq($bp580) {
      width: 302px;
      margin: 8px auto 0;
    }
  }

  ul, li {
    padding: 0;
    margin: 0;
  }

  .field-content {
    line-height: 1.63;

    a {
      font-weight: 500;
    }
  }

  .views-row {
    display:flex;
    flex-direction: column;
    padding: 20px 15px;
    margin: 0 -15px;

    @include mq($bp580) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }

    &:nth-child(odd) {
      @include mq($bp579max) {
        background: rgba($color-black, 0.05);
      }
      .views-field {
        @include mq($bp580) {
          background: rgba($color-black, 0.05);
        }
      }
    }
  }

  .views-field {
    display: flex;

    @include mq($bp580) {
      flex-direction: row;
      padding: 10px 20px;
    }

    &-field-ct-author ul li {
      @include mq($bp579max) {
        display: inline;

        &:before {
          content: ', ';
        }
        &:first-child {
          &:before {
            content: '';
          }
        }
        &:nth-child(n+3):last-child {
          &:before {
            content: ' and ';
          }
        }
      }
    }
  }

  .view-sort-by li,
  .views-field {
    &:nth-child(1) {
      @include mq($bp580) {
        max-width: 154px;
        width: 100%;
        margin-right: 1px;
      }
    }
    &:nth-child(2) {
      @include mq($bp580) {
        max-width: 178px;
        width: 100%;
        margin-right: 1px;
      }
    }
    &:nth-child(3) {
      @include mq($bp580) {
        max-width: 301px;
        width: 100%;
        margin-right: 1px;
      }
    }
    &:nth-child(4) {
      @include mq($bp580) {
        max-width: 600px;
        width: 100%;
        margin-right: 1px;
      }
    }
  }

  .views-label {
    width: 100%;
    max-width: 71px;
    margin-right: 20px;
    font-weight: 600;
    line-height: 1.63;

    @include mq($bp580) {
      display: none;
    }
  }

  .views-exposed {
    width: 100%;
    margin: 20px 0 0;

    &-form {
      padding: 0;
      display: flex;
      flex-direction: column;

      @include mq($bp580) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      input.views-auto-submit-click {
        display: none;
      }

      .form-item-sort-by,
      .form-item-sort-order {
        display: none;
      }

      .views-hide-filters {
        @include mq($bp580) {
          display: none;
        }
      }
    }

    .view-datepicker {
      margin: 0;
      width: 100%;
    }

    .js-form-type-select,
    .js-form-type-textfield,
    .form-actions {
      width: 100%;
      @include mq($bp580) {
        width: 20%;
        padding-right: 20px;
        margin-top: auto;
      }
      @include mq($bp960) {
        margin-top: 0;
      }
    }

    .form-actions {
      @include mq($bp580) {
        margin: auto 0;
      }
      .view-form-link  {
        @include mq($bp580) {
          padding-top: 6px;
        }
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          @include mq($bp580) {
            flex-direction: column;
          }

          a {
            font-weight: 500;
          }
        }
      }
    }

    .view-sort-by {
      width: 100%;
      padding: 40px 0 20px;

      @include mq($bp580) {
        padding: 3px 0 0;
        flex-direction: column;
      }
      h3 {
        font-size: 1.6rem;
        font-weight: 500;

        @include mq($bp580) {
          display: none;
        }
      }
      ul {
        @include mq($bp580) {
          display: flex;
          flex-direction: row;
        }
      }
      li {
        @include mq($bp580) {
          position: relative;
          padding: 0 0 13px 20px;
        }
      }
    }

    .form-type-select .select {
      max-width: none;
    }

    .js-form-link {
      display: block;
      @include mq($bp580) {
        display: flex;
        flex-direction: row;
        font-family: $font-lato;
        line-height: 1.63;
        font-size: 1.6rem;
        font-weight: 900;
        color: $color-bondi-blue;
        transition: color .2s;
        outline: none;
        text-decoration: none;
        cursor: pointer;

        &:active, &:hover {
          color: rgba($color-bondi-blue, .6);
        }

        @include icoMoon('chevrons-sort', 'after');
        &:after {
          padding-left: 10px;
          margin: auto 0;
        }

        &--DESC {
          @include icoMoon('sort-desc', 'after');
          &:after {
            font-size: 0.9rem;
          }
        }
        &--ASC {
          @include icoMoon('sort-asc', 'after');
          &:after {
            font-size: 0.9rem;
          }
        }
      }
    }
    .js-form-column {
      color: $color-dusty-gray;

      @include mq($bp580) {
        display: block;
        line-height: 1.63;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }

  // Different style for Pipeline.
  .paragraph--type--pipeline-list & {
    h1 {
      font-weight: 500;
      margin-bottom: 0.6rem;
    }

    & .pipeline-list > .views-exposed form {

      & > .js-form-type-select,
      & > .js-form-type-textfield {
        @include mq($bp580) {
          width: 315px;
        }
      }
    }

    &.view-dckyiv-exposed-filters .views-field-field-ct-author ul li {
      display: inline;

      &:before {
        content: ', ';
      }
      &:first-child {
        &:before {
          content: '';
        }
      }
      &:nth-child(n+3):last-child {
        &:before {
          content: ' and ';
        }
      }
    }
  }
}
