.contextual-region {
  ul {
    list-style: none;
  }
  li {
    display: block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.blue_link {
  color: $color-cerulean-blue;
  &:hover {
    color: rgba($color-cerulean-blue, .6);
  }
}

.orange_link {
 color: $color-mango-tango;
  &:hover {
    color: rgba($color-mango-tango, .6);
  }
}

.region-content {
  .block-local-tasks-block {
    @include container;

    ul {
      display: flex;
    }
    li {
      padding: 0 20px 0 0;
    }
  }

  .node--type-presentation {
    @include container;

    .field {
      padding-bottom: 20px;
    }

    .field__label {
      font-family: $font-proxima-nova-bold;
      color: $color-silver;
      padding-bottom: 5px;
      text-transform: uppercase;
      border-bottom: 1px solid $color-gallery;
    }

    .field__item {
      padding-top: 5px;
    }
  }
}

// Override operation links.
.dropbutton-multiple .dropbutton-arrow {
  top: 13px !important;
}
.dropbutton-multiple.open .dropbutton-arrow {
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 3px !important;
}

.dropbutton-toggle {
  height: 0;
}

.messages {
  @include container;

  background-position: 10px center !important;
  box-shadow: none;
  border-left: 8px solid #e62600;
  padding: 10px 0 10px 35px !important;
  margin-top: 20px !important;
  margin-bottom: 30px !important;

  @include mq($bp1023max) {
    margin: 20px 15px 30px;
  }

  & > div {
    padding: 10px 5px 10px 30px;
    font-size: 1.4rem;
  }
}
