// Generic Drupal form elements
@import "../icomoon/icomoon";
form {
  padding: 0 0 40px;
  @include mq($bp1280) {
    padding: 0 0 60px;
  }
  & *:focus {
    outline: none;
  }
  // Add style to file upload button.
  & .form-managed-file > label {
    height: 40px;
    padding: 6px 8px;
    border-radius: 6px;
    border: solid 1px $color-bondi-blue;
    background-color: $color-white;
    color: $color-bondi-blue;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.71;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    @include mq($bp960) {
      width: 160px;
    }

    &:active, &:hover {
      border: solid 1px rgba($color-bondi-blue, 0.6);
      background-color: $color-white;
      color: rgba($color-bondi-blue, 0.6);
    }
  }

  & .g-recaptcha {
    & > div {
      margin: 0 auto;
      @include mq($bp768) {
        margin: 0;
      }
    }
  }
  .form-actions {
    @include mq($bp959max) {
      width: 100%;
    }
  }
}
// Style for select dropdown element.
.form-type-select,
.view-sort-by,
.wrap-list-as-dropdown {
  .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 0;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 1.63;
    color: $color-mine-shaft;
    @include mq($bp580) {
      max-width: 345px;
    }
  }
  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 6px 8px;
    border-radius: 6px;
    border: solid 1px $color-silver;
    background-color: $color-white;
    overflow: hidden;
    @include icoMoon('chevron-down', 'after');
    &:after {
      position: absolute;
      top: 12px;
      right: 8px;
      line-height: 18px;
      font-size: 2.4rem;
      color: $color-black;
    }
    &:hover {
      border: solid 1px $color-bondi-blue;
    }
    &:active, &.active {
      border: solid 1px $color-bondi-blue;
    }
  }

  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px $color-silver;
    background-color: $color-white;
    li {
      margin: 0;
      padding: 12px 8px;
      color: $color-mine-shaft !important;
      &:hover {
        color: $color-mine-shaft !important;
        background: rgba($color-bondi-blue, 0.2) !important;
      }
      &[rel="hide"] {
        display: none;
      }
      & > * {
        color: $color-mine-shaft !important;
      }
    }
  }
}

.view-sort-by,
.wrap-list-as-dropdown {
  & > .select {
    max-width: none;
  }
}

// Global elements margins
.form-item {
  margin: 0 0 18px;

  .element-container {
    position: relative;

    .ajax-progress {
      position: absolute;
      right: 0;
      top: -3rem;
    }
  }

  label,
  legend {
    display: block;
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 1.6rem;
    text-transform: capitalize;
  }
  &.fieldset-wrapper {
    margin: 0;
    padding: 0;
  }
  .form-required:after {
    content: '*';
    margin-left: 2px;
    font-size: 1.6rem;
    color: $color-monza;
  }
  &--error-message strong {
    padding-top: 8px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.14;
  }
}
.form-wrapper summary {
  padding-top: 24px;
  &[open] summary {
    padding-bottom: 24px;
  }
}
// Description
form .description,
.field--type-text-long .text-full {
  padding: 8px 0 0;
  font-size: 1.4rem;
  line-height: 1.14;
}
.field--type-text-long {
  margin: 0 0 21px 0;
  .form-item {
    margin: 0;
  }
}
// Text and text-like inputs
input[type="text"],
input[type="password"],
input[type="date"],
input[type="url"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="search"],
textarea,
.field--type-text-long textarea.text-full {
  width: 100%;
  padding: 6px 8px;
  font-size: 1.6rem;
  line-height: 1.63;
  border-radius: 6px;
  border: solid 1px $color-silver;
  background-color: $color-white;

  &:hover {
    border: solid 1px $color-mine-shaft;
  }
  &:focus {
    border: solid 1px $color-bondi-blue;
  }

  &[disabled="disabled"] {
    cursor: not-allowed;
    border: solid 1px $color-silver;
    background-color: $color-silver;
  }
  &.error {
  }
  // Disabling number field + - buttons
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::placeholder {
    color: $color-silver;
  }
}
textarea {
  resize: vertical;
}
// Checkboxes and radios
.form-type-checkbox,
.form-type-radio {
  label {
    display: inline-block;
    margin: 0 0 0 8px;
    line-height: 15px;
  }
}
// Select list
.form-type-select {
  &.form-no-label {
    margin: 0;
  }
}
// Buttons and submit
button,
.button,
input[type="submit"] {
  @include button('primary');
  margin-top: 20px;

  @include mq($bp768) {
    width: 302px;
  }
}
button.secondary,
.button.secondary,
input.secondary[type="submit"] {
  @include button('secondary');
}
.field--widget-help-text-widget {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
}
.form-type-number {
  position: relative;

  input {
    padding-right: 5rem;
    padding-left: 2.5rem
  }
  .field-prefix {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    left: 0;
    bottom: 0;
    height: 100%;
    font-size: 1.4rem;
  }
  .field-suffix {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    right: .5rem;
    bottom: 0;
    height: 100%;
    font-size: 1.4rem;
  }
}
.image-widget {
  @include clearfix;
  position: relative;

  img {
    float: left;
    margin-right: 25px;
  }
  span {
    font-size: 1.4rem;
  }

  span.file-size {
    display: block;
  }

  input[type="submit"] {
    @include button('secondary');
    position: absolute;
    bottom: 0;
  }
}
.filter-wrapper {
  font-size: 1.4rem;
  ul {
    width: 50%;
    li {
      margin: .2rem 0;
    }
  }
}
