/**
 *  Generic Drupal form elements
 */

@import '../icomoon/icomoon';

form *:focus {
  outline: none;
}
// Global elements margins
.form-item {
  margin: 0 0 20px 0;

  .element-container {
    position: relative;

    .ajax-progress {
      position: absolute;
      top: -3rem;
      right: 0;
    }
  }

  label {
    display: block;

    margin: 0 0 8px 0;

    font-size: 1.4rem;
    line-height: 1.14;
  }

  .form-required:after {
    margin-left: 2px;

    content: '*';

    color: $color-chestnut-rose;

    font-size: 1.4rem;
    line-height: 1.14;
  }

  &--error-message strong {
    padding-top: 8px;

    color: $color-chestnut-rose;

    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.14;

    @include invert-links;
  }
}

.form-wrapper summary {
  padding-top: 24px;
  &[open] summary {
    padding-bottom: 24px;
  }
}

// Description
form .description,
.field--type-text-long .text-full {
  padding: 8px 0 0;

  color: $color-tuna;

  font-size: 1.4rem;
  line-height: 1.14;
}

.field--type-text-long {
  margin: 0 0 20px 0;
  .form-item {
    margin: 0;
  }
}

// Text and text-like inputs
input[type='text'],
input[type='password'],
input[type='date'],
input[type='url'],
input[type='tel'],
input[type='email'],
input[type='number'],
input[type='search'],
textarea,
.field--type-text-long textarea.text-full {
  width: 100%;
  padding: 1rem 1.6rem;

  color: $color-mine-shaft;
  border: 1px solid $color-nobel;
  border-radius: 0;

  font-size: 1.4rem;
  line-height: 1.5;

  &:hover {
    color: $color-mine-shaft;
    border-color: $color-mine-shaft;
    background-color: $color-white;
  }
  &:focus {
    border-color: $color-fern;
  }

  &[disabled='disabled'] {
    cursor: not-allowed;

    background-color: $color-silver;
  }
  &.error {
    border-color: $color-chestnut-rose;
  }
  // Disabling number field + - buttons
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
  }
}
textarea {
  resize: vertical;
}
// Formstone dropdowns
.form-item {
  .fs-dropdown {
    border: 1px solid $color-nobel;
    border-radius: 6px;

    &:hover {
      border-color: $color-mine-shaft;
      background-color: $color-white;
    }

    &.fs-dropdown-focus {
      border-color: $color-fern;
    }
    &.fs-dropdown-disabled {
      cursor: not-allowed;

      background-color: $color-silver;
    }

    .fs-dropdown-selected {
      position: relative;

      padding: 1rem 2.6rem 1rem 1.6rem;

      color: $color-mine-shaft;
      border: none;
      background-color: $color-white;

      font-size: 1.4rem;
      line-height: 1.5;

      @include icoMoon('arrow-down');

      &:before {
        position: absolute;
        right: 8px;

        font-size: 16px;
        line-height: 18px;
      }
    }

    .fs-dropdown-options {
      margin-top: 2px;

      color: $color-mine-shaft;
      border: 1px solid $color-nobel;
      border-radius: 6px;
      box-shadow: 0 3px 14px 0 rgba(0, 0, 0, .18);

      font-size: 1.4rem;
      line-height: 1.14;
    }

    .fs-dropdown-item {
      padding: 10px 15px;

      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.14;
      &:hover {
        color: $color-mine-shaft;
        background-color: $color-gallery;
      }
      &.fs-dropdown-item_selected {
        font-weight: 600;
      }
    }

    &.fs-dropdown-multiple {
      &:focus {
        border-color: $color-fern;
      }
      .fs-dropdown-options {
        margin: 0;

        border: none;
        box-shadow: none;
      }
    }
  }

  &--error {
    .fs-dropdown,
    .fs-dropdown.fs-dropdown-focus {
      border-color: $color-chestnut-rose;
    }
  }
}
// Checkboxes and radios
.form-type-checkbox,
.form-type-radio {
  label {
    display: inline-block;

    margin: 0 0 0 8px;

    line-height: 15px;
  }
  .element-container {
    display: inline-block;
  }
}
.fs-checkbox {
  .fs-checkbox-marker {
    border: 1px solid $color-nobel;
    border-radius: 4px;
  }
  &.fs-checkbox-radio {
    .fs-checkbox-flag {
      background-color: $color-fern;
    }
    &.fs-checkbox-checked .fs-checkbox-flag {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
  }
}
// Buttons and submit
button,
.button,
input[type='submit'] {
  @include button;
}
button.secondary,
.button.secondary,
input.secondary[type='submit'] {
  @include button('secondary');
}
.field--widget-help-text-widget {
  text-align: center;

  color: $color-tuna;

  font-size: 1.6rem;
  line-height: 1.5;
}
.form-type-number {
  position: relative;

  input {
    padding-right: 5rem;
    padding-left: 2.5rem;
  }
  .field-prefix {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;

    height: 100%;
    padding: 0 1.6rem;

    font-size: 1.4rem;

    align-items: center;
  }
  .field-suffix {
    position: absolute;
    right: .5rem;
    bottom: 0;

    display: flex;

    height: 100%;
    padding: 0 1.6rem;

    color: $color-tuna;

    font-size: 1.4rem;

    align-items: center;
  }
}
.image-widget {
  position: relative;

  @include clearfix;

  img {
    float: left;

    margin-right: 25px;
  }
  span {
    color: $color-tuna;

    font-size: 1.4rem;
  }

  span.file-size {
    display: block;
  }

  input[type='submit'] {
    position: absolute;
    bottom: 0;

    @include button('secondary');
  }
}
.filter-wrapper {
  font-size: 1.4rem;

  ul {
    width: 50%;
    li {
      margin: .2rem 0;
    }
  }
}
// Tabs

.field-group-tabs-wrapper {
  &.tabs-menu-cloned {
    .vertical-tabs {
      margin: 0;
    }
    .vertical-tabs__menu {
      display: none;
    }
  }

  .vertical-tabs {
    margin: 0;

    @include mq($bp1024) {
      margin: 1em 0 1em 15em;
    }
    .vertical-tabs__menu {
      float: none;

      width: auto;
      margin: 0;

      @include mq($bp1024) {
        float: left;

        width: 15em;
        margin: -1px 0 -1px -15em;
      }
    }
  }
}
.tabs-menu-clone-container {
  .vertical-tabs__menu {
    display: block;
    float: none;

    width: auto;
    margin: 0;
  }
}
.address-container-inline {
  display: flex;

  justify-content: space-between;

  & > div {
    flex-basis: 0;
    flex-grow: 1;
  }
  & > div:last-child {
    margin-right: 0;
  }
}
.form-item-pass {
  .password-strength__title,
  .password-strength__text {
    font-size: 1.4rem;
  }
}

form {
  .captcha {
    margin: 0 auto 10px;

    .g-recaptcha {
      text-align: center;

      & > div {
        width: 100% !important;
      }
    }
  }
}
