/*
  Miscellaneous settings for elements
 */

// Disable scroll
body.no-scroll {
  height: 100%;
  overflow: hidden;
}
// responsive images
img {
  max-width: 100%;
  height: auto;
}
// Hiding contextual links for certain blocks
.block-page-title-block,
.block-local-tasks-block,
.block-system-branding-block,
.block-system-breadcrumb-block{
  button.trigger.focusable,
  ul.contextual-links {
    display: none;
  }
}
