<div{{ attributes }}>
  <div class="cart-block--summary">
    <a class="cart-block--link__expand" href="{{ url }}">
      {% if content %}
        <div class="cart-status"></div>
      {% endif %}
    </a>
  </div>
</div>
