.block--dckyiv-branding {

  .navbar-brand {
    color: $green;
    @extend .h5;
    font-weight: 900;

    &:hover {
      color: $green;
    }
  }

  .dc_logo {
    &--desktop {
      color: $white;
      @extend .d-md-none;
      @extend .d-lg-block;
      @extend .pr-1;
    }
    &--mobile {
      color: $white;
      @extend .d-md-block;
      @extend .d-lg-none;
      @extend .pr-1;
    }
  }
}
