{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}

<ul class="menu menu-level-{{ items|first.menu_level }}">
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'menu-item',
      item.is_expanded ? 'menu-item--expanded',
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'menu-item--active-trail',
    ] %}

    <li{{ item.attributes.addClass(menu_item_classes) }}>
      <div class="link-container">
        {{ link(item.title, item.url) }}
        <span class="subnav-toggle"></span>
      </div>

      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
