// @mixin vertical-center
// Displays element as vertically centered in parent container
// Parent container must have defined height

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} // @mixin vertical-center

@mixin horizontal-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
} // horizontal-center

@mixin vertical-align($position: absolute) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align($position: absolute) {
  position: $position;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin center-align($position: absolute) {
  position: $position;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
