// @mixin chevron
// Displays chevrons (or arrows) using CSS instead of images
// Options include $size, $thickness, $color, and $direction of arrow

@mixin chevron($size: null, $thickness: null, $color: null, $direction: null) {
  display: inline-block;
  height: $size;
  width: $size;
  border-width: $thickness 0 0 $thickness;
  border-color: $color;
  border-style: solid;

  @if $direction == 'right' {
    @include vp-transform(rotate(135deg));
  } @else if $direction == 'down' {
    @include vp-transform(rotate(225deg) translateZ(0));
  } @else if $direction == 'left' {
    @include vp-transform (rotate(315deg));
  } @else if $direction == 'up' {
    @include vp-transform (rotate(45deg) translateZ(0));
  }
}
