// @mixin fixed-aspect()
// Displays element as having a fixed aspect ratio (width:height)
// $padding argument should be determined with the calculation: ("container height" / "container width" * 100%)
// $inner argument is class name for elements within the aspect ratio that should fit the container
// Example: @include fixed-aspect(356 / 680 * 100%, '.field--name-field-image');

@mixin fixed-aspect($height, $inner: null) {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-bottom: $height;
  } // &::before

  @if $inner {
    > #{$inner} {
      @include fit-container;
    } // > #{$inner}
  } // @if $inner
} // @mixin fixed-aspect

// @mixin remove-fixed-aspect()
// remove styles above
@mixin remove-fixed-aspect($inner) {

  &::before {
    display: none;
  } // &::before

  @if $inner {
    > #{$inner} {
      position: static;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
    } // > #{$inner}
  } // @if $inner
} // @mixin fixed-aspect