// Default buttons

@mixin button($type: 'primary', $inverse: false) {
  color: $color-white;
  position: relative;
  border-radius: 0;
  text-align: center;
  font-size: 1.8rem;
  font-family: $font-proxima-nova-bold;
  line-height: 1.5;
  background: $color-fern;
  border: solid 2px $color-fern;
  transition: all .1s;
  @content;


  @if $type == 'secondary' {
    padding: 6px 24px;
    font-size: 1.8rem;
    border: solid 2px $color-fern;
    color: $color-fern;
    background: $color-white;
  }
  @else if $type == 'small' {
    padding: 5px 10px;
    font-size: 14px;
  }
  @else {
    font-size: 1.8rem;
    padding: 10px 24px;
  }

  &:hover {
    cursor: pointer;
    color: $color-fern;
    background-color: $color-white;
    border-color: $color-fern;
  }
  &:focus {
    outline: none;
  }

  @if $inverse {
    color: $color-mine-shaft;
    background-color: $color-white;
    border-color: $color-mine-shaft;
    &:hover {
      background-color: $color-white;
      border-color: $color-fern;
      color: $color-fern;
    }
  }

  &[disabled=disabled] {
    background-color: $color-silver;
    border-color: $color-silver;
    color: $color-nobel;
    &:hover {
      cursor: not-allowed;
      background-color: $color-silver;
      border-color: $color-silver;
      color: $color-nobel;
    }
  }
}
