// Default buttons

@mixin button($type: 'primary', $inverse: false) {
  position: relative;

  transition: all .1s;
  text-align: center;

  color: $color-white;
  border: solid 2px $color-fern;
  border-radius: 0;
  background: $color-fern;

  font-family: $font-proxima-nova-bold;
  font-size: 1.8rem;
  line-height: 1.5;
  @content;


  @if $type == 'secondary' {
    padding: 6px 24px;

    color: $color-fern;
    border: solid 2px $color-fern;
    background: $color-white;

    font-size: 1.8rem;
  }
  @else if $type == 'small' {
    padding: 5px 10px;

    font-size: 14px;
  }
  @else {
    padding: 10px 24px;

    font-size: 1.8rem;
  }

  &:hover {
    cursor: pointer;

    color: $color-fern;
    border-color: $color-fern;
    background-color: $color-white;
  }
  &:focus {
    outline: none;
  }

  @if $inverse {
    color: $color-mine-shaft;
    border-color: $color-mine-shaft;
    background-color: $color-white;
    &:hover {
      color: $color-fern;
      border-color: $color-fern;
      background-color: $color-white;
    }
  }

  &[disabled=disabled] {
    color: $color-nobel;
    border-color: $color-silver;
    background-color: $color-silver;
    &:hover {
      cursor: not-allowed;

      color: $color-nobel;
      border-color: $color-silver;
      background-color: $color-silver;
    }
  }
}
