// @mixin minimize-text
// Use to hide display of text within elements.
// Useful to give accessible descriptions for elements such as icons, buttons, etc

@mixin minimize-text {
  text-shadow: unset;

  font-size: 0;
  line-height: 0;
} // @mixin minimize-text
