@mixin placeholder {
  &::-webkit-input-placeholder {
    color: $color-mako;

    font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    @content;
  }

  &:-moz-placeholder {
    color: $color-mako;

    font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    @content;
  }

  &::-moz-placeholder {
    color: $color-mako;

    font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    @content;
  }

  &:-ms-input-placeholder {
    color: $color-mako;

    font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    @content;
  }
}
