// Default IFW buttons

@mixin share-button($type: 'facebook') {
  padding: 1.2rem 3rem 1.2rem 7rem;
  display: inline-block;
  text-align: left;
  min-width: 20rem;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  border-radius: 6px;
  font-weight: 500;
  color: $color-white;
  transition: all .1s;
  @content;

  @if $type == 'facebook' {
    background-color: $color-chambray;
    @include icoMoon('facebook-square');
  }
  @if $type == 'twitter' {
    background-color: $color-dodger-blue;
    @include icoMoon('twitter-square');
  }

  &:before {
    position: absolute;
    left: 3.3rem;
    font-size: 2.4rem;
  }
  &:hover {
    opacity: .9;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
