// Style for subtitle

@mixin subtitle {
  text-transform: uppercase;

  color: $color-storm-gray;

  font-family: $font-proxima-nova-regular;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.36;
}
