// Style for subtitle

@mixin subtitle {
  font-family: $font-proxima-nova-regular;
  color: $color-storm-gray;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.36;
  text-transform: uppercase;
}
