// @mixin truncate()
// Used to end text at desired line number (5 lines is default)
// Most modern browsers will display "..." after last line to show there is more that is hidden.
// Must include options $font-size and $line-height with correct values so that parts of letters are not chopped off
// Use $lines option to indicate number of lines to display before truncation

@mixin truncate($line-height: 1.6667, $lines: 5, $font-size: rem(15)) {
  display: block; /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  height: $font-size * $lines * $line-height; /* Fallback for non-webkit */
  overflow: hidden;

  @supports (-webkit-line-clamp: $lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: auto;
  } // @supports (-webkit-line-clamp: $lines)
} // @mixin truncate
