/* font-family: Proxima Nova */
$pn-font-path: '../../../dckyiv/assets/css/fonts';
@import 'font-proxima-nova-scss';

$font-proxima-nova-regular: 'Proxima Nova';
$font-proxima-nova-light: 'Proxima Nova Lt';
$font-proxima-nova-bold: 'Proxima Nova Rg';
