.font-weight-light   {
  font-family: $font-proxima-nova-light !important;
  font-weight: $font-weight-light !important;
}
.font-weight-normal  {
  font-family: $font-proxima-nova-regular !important;
  font-weight: $font-weight-normal !important;
}
.font-weight-bold    {
  font-family: $font-proxima-nova-bold !important;
  font-weight: $font-weight-bold !important;
}

// Type display classes

.display-5 {
  @include font-size($display5-size);
  font-weight: $display4-weight;
  line-height: $display-line-height;
}

.display-6 {
  @include font-size($display6-size);
  font-weight: $display4-weight;
  line-height: $display-line-height;
}

.display-7 {
  @include font-size($display7-size);
  font-weight: $display4-weight;
  line-height: $display-line-height;
}
