
$icons: (
  // Icomoon Icons
  calendar: '\e91b',
  cart: '\e91a',
  logout: '\e919',
  worlwide: '\e918',
  phone: '\e915',
  email: '\e916',
  location: '\e917',
  login: '\e914',
  facebook: '\e913',
  user: '\e90c',
  download: '\e90d',
  link-2: '\e90e',
  settings: '\e90f',
  star: '\e910',
  upload: '\e911',
  sort-asc: '\e90a',
  sort-desc: '\e90b',
  alert-circle: '\e909',
  chevrons-sort: '\e907',
  chevron-right: '\e906',
  x: '\e905',
  search: '\e903',
  menu: '\e904',
  lock: '\e902',
  arrow-right: '\e900',
  chevron-down: '\e901',
  arrow-down: '\e912',
  linkedin: '\e908',

  // Extra Icons
);

