[dir='rtl'] body {
  direction: rtl;
}

body {
  margin: 1em;

  color: black;
  background-color: #FFFFFF;

  font-family: sans-serif;
}

table {
  width: 960px;
}

th {
  text-align: left; /* LTR */

  color: #000066;
  border-bottom: 1px solid #CCCCCC;
}

tr {
  .odd {
    background-color: #DDDDDD;
  }

  .even {
    background-color: #FFFFFF;
  }

  &:nth-child(odd) {
    background-color: #DDDDDD;
  }

  &:nth-child(even) {
    background-color: #FFFFFF;
  }
}

[dir='rtl'] th {
  text-align: right;
}

th {
  text-align: left; /* LTR */

  color: #000066;
  border-bottom: 1px solid #CCCCCC;
}

td {
  padding: 5px;
}

#menu {
  visibility: hidden;
}

#main {
  margin: 1em;
}

a {
  &:link {
    color: #000000;
  }
  &:visited {
    color: #000000;
  }
  &:hover {
    color: #0000FF;
  }

  &:link img,
  &:visited img {
    border: 0;
  }
}
